
#-----------------------------------------
# Mai Minh Hotmeal.vn 24/03/2012
#-----------------------------------------

<Files .htaccess>
deny from all
</Files>

<Files config.php>
deny from all
</Files>

#Options -Indexes
#Options +FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

<IfModule mod_dir.c>
#DirectoryIndex /admin.php

</IfModule>
RewriteRule ^(vn|en)?[/]?404\.html$ index.php?op=estore&act=404 [L,NC]
# Main site
RewriteRule ^(vn|en)?[/]?index.html$ index.php?op=estore&act=index&lang=$1&slug=$2 [L,NC]

RewriteRule ^main\.html$ index.php?op=estore&act=dashboard [L,NC]

#Skylead 

#video
RewriteRule ^(vn|en)?[/]?(video)\.html$ index.php?op=estore&act=video&lang=$1&slug=$2 [L,NC]
RewriteRule ^(vn|en)?[/]?(video)&page=([0-9]+)$ index.php?op=estore&act=video&page=$3&lang=$1&slug=$2 [L,NC]
#trang chi tiết video
#RewriteRule ^(vn|en)?[/]?(video)?[-]?([a-z0-9-_]+)$ index.php?op=estore&act=detailvideo&id=$3 [L,NC]
#how
RewriteRule ^(vn|en)?[/]?(conduongtrothanhphicong|how)\.html$ index.php?op=estore&act=how&lang=$1&slug=$2 [L,NC]
#about
RewriteRule ^(vn|en)?[/]?(vechungtoi|about)\.html$ index.php?op=estore&act=about&lang=$1&slug=$2 [L,NC]
#landingpage
RewriteRule ^(vn|en)?[/]?(landingpage)\.html$ index.php?op=estore&act=landingpage&lang=$1&slug=$2 [L,NC]

#tin tức
RewriteRule ^(vn|en)?[/]?(tintuc|news)\.html$ index.php?op=estore&act=news&lang=$1&slug=$2 [L,NC]
#trang chi tiết 
RewriteRule ^(vn|en|cn)?[/]?([a-z0-9-_]+)-([a-z0-9-_]+)$ index.php?op=estore&act=detailsnews&slug=$2&id=$3&lang=$1 [L,NC]
#phân trang danh mục tin tuc
RewriteRule ^(vn|en)?[/]?([a-z0-9-_]+)-([a-z0-9-_]+)&page=([0-9]+)$ index.php?op=estore&act=detailsnews&page=$4&lang=$1&slug=$2&id=$3 [L,NC]

# RewriteRule ^(vn|en)?[/]?([a-z0-9-_]+)-([a-z0-9-_]+).html$ index.php?op=estore&act=detailcatenews&lang=$1&slug=$2&id=$3 [L,NC]


# Sitemap
RewriteRule ^sitemap.html$ index.php?op=estore&act=sitemap [L,NC]


ErrorDocument 404 http://skylead.vn/404.html
</IfModule>
