<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/jquery.parallax.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/lity.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="loading">
      <div data-text="Name..." class="loading__text">Name...</div>
    </div>
    <div class="modal__shadow"></div>
    <div class="noti-stack"></div>
    <div class="wrapper">
      <header class="header header--toggle">
        <div class="header__bar header__bar--color header__bar--2">
          <img src="./img/bar.png" alt="bar icon" />
          <div class="header__menu" style="background-image: url(./img/Rectangle25.png)">
            <i class="fas fa-times"></i>
            <ul>
              <li>
                <a href="./index.html"> trang chủ </a>
              </li>
              <li>
                <a href="./news.html"> tin tức </a>
              </li>
              <li>
                <a href="./video.html"> video </a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="main about">
        <div class="about__top image__zoom__block">
          <img src="./img/about2.png" alt="image zoom" class="image__zoom">
          <div class="about__top__modal"></div>
          <div class="about__top__block">
            <div class="about__top__title1">
              <p>LEADING YOUR SKY</p>
            </div>
            <div class="about__top__title2">Skylead</div>
            <div class="about__top__body">
              <div class="about__top__content">
                “ Một khi con người ta đã trải nghiệm cảm giác bay lượn, họ sẽ vĩnh viễn bước đi trên mặt đất với đôi
                mắt hướng về bầu trời và luôn luôn khao khát được trở lại đó, về nơi mà họ thuộc về .“
              </div>
              <div class="about__top__author">Leonardo da Vinci</div>
            </div>
          </div>
        </div>
        <div class="lazy">
          <div class="about__slider__container" data-effect="zoom">
            <div class="about__slider">
              <div class="about__slide">
                <div class="about__slide__content">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text about__slide__text--2">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about1.png)"></div>
              </div>
              <div class="about__slide">
                <div class="about__slide__content">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about1.png)"></div>
              </div>
              <div class="about__slide">
                <div class="about__slide__content">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about1.png)"></div>
              </div>
              <div class="about__slide">
                <div class="about__slide__content">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about1.png)"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="about__maxim ">
          <div class="about__maxim__block lazy">
            <div data-effect="slide-right">
              <div class="about__maxim__content" >
                "Không có ai sinh ra đã là một phi công vĩ đại. Một con người có thể sở hữu thị lực tốt, đôi bàn tay khéo
                léo cũng như khả năng phối hợp hoàn hảo nhưng kết quả cuối cùng chỉ có thể đạt được nhờ nền tảng huấn
                luyện vững vàng, nỗ lực luyện tập không ngừng nghỉ và kinh nghiệm bay được tích lũy ngày này qua tháng
                khác."
              </div>
            </div>
            <div data-effect="slide-left">
              <div class="about__maxim__author" data-effect="slide-left">Johnnie Johnson</div>
            </div>
          </div>
        </div>
        <div class="lazy">
          <div class="about__slider__container about__slider__container--2" data-effect="zoom">
            <div class="about__slider">
              <div class="about__slide about__slide--2">
                <div class="about__slide__content about__slide__content--2">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about3.png)"></div>
              </div>
              <div class="about__slide about__slide--2">
                <div class="about__slide__content about__slide__content--2">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about3.png)"></div>
              </div>
              <div class="about__slide about__slide--2">
                <div class="about__slide__content about__slide__content--2">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about3.png)"></div>
              </div>
              <div class="about__slide about__slide--2">
                <div class="about__slide__content about__slide__content--2">
                  <div class="about__slide__title">Cảm hứng</div>
                  <div class="about__slide__text">
                    Có những lúc con người ta có thể mơ ngay khi đang tỉnh và còn được tiếp thêm sức mạnh để biến giấc mơ
                    ấy trở thành hiện thực. Đó là khi họ nhìn lên bầu trời.
                  </div>
                </div>
                <div class="about__slide__image" style="background-image: url(./img/about3.png)"></div>
              </div>
            </div>
            <a class="about__slider__link lazy">
              <div data-effect="slide-left">
                <span>Kể cho chúng tôi về bạn</span>
              </div>
              <div style="display: inherit;" data-effect="slide-right">
                <img src="./img/planeicon.png" alt="image" />
              </div>
            </a>
          </div>
        </div>
        <div class="about__bot">
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot1.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot2.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot3.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
          <div class="about__bot__image" style="background-image: url(./img/bot4.png)">
            <div class="about__bot__image__modal"></div>
            <div class="about__bot__image__body">
              <div class="about__bot__image__block">
                <div class="about__bot__image__name">Họ và Tên</div>
                <div class="about__bot__image__info">“thông tin học viên thông tin học viên”</div>
              </div>
              <div class="about__bot__image__content">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem corporis similique nostrum aut earum sequi
                  ad. Accusantium culpa, eos vel numquam corporis quod cupiditate et hic! Impedit quis eum omnis?
                </span>
              </div>
            </div>
          </div>
         
        </div>
        <div class="about__slider__popup plane-form__container">
          <i class="fas fa-times"></i>
          <form id="plane-form" class="plane-form">
            <div class="plane-form__block">
              Nếu bạn muốn bắt đầu hành trình chinh phục bầu trời, xin hãy để lại 
              <span class="plane-form__group">
                <label for="plane-name">tên</label>
                <div class="plane-form__popup">
                  <input placeholder="Tên" type="text" name="plane-name" id="plane-name">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>, 
              <span class="plane-form__group">
                <label for="plane-phone">số điện thoại</label>
                <div class="plane-form__popup">
                  <input placeholder="Số điện thoại" type="number" name="plane-phone" id="plane-phone">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>                         
              và địa chỉ 
              <span class="plane-form__group">
                <label for="plane-email">email</label>
                <div class="plane-form__popup">
                  <input class="last-input" placeholder="Email" type="email" name="plane-email" id="plane-email">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>. <br>
              Skylead rất mong muốn có thể trực tiếp trò chuyện để chia sẻ với bạn nhiều hơn những thông tin hữu ích.
            </div>
            <input class="plane-form__submit" type="submit" value="GỬI">
          </form>
        </div>
      </main>
    </div>
    <script src="js/validate.js"></script>
    <script src="js/form.js"></script>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/lity.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
