<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/jquery.parallax.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/lity.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="loading">
      <div data-text="Name..." class="loading__text">Name...</div>
    </div>
    <div class="modal__shadow"></div>
    <div class="noti-stack"></div>
    <div class="wrapper">
      <header class="header header--toggle">
        <div class="header__bar header__bar--color header__bar--2">
          <img src="./img/bar.png" alt="bar icon" alt="img" />
          <div class="header__menu" style="background-image: url(./img/Rectangle25.png)">
            <i class="fas fa-times"></i>
            <ul>
              <li>
                <a href="./index.html">
                  trang chủ
                </a>
              </li>
              <li>
                <a href="./news.html">
                  tin tức
                </a>
              </li>
              <li>
                <a href="./video.html">
                  video
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="main news">
        <img src="./img/news1.png" alt="news cover" class="news__cover" />
        <div class="grid wide">
          <div class="news__list-page">
            <ul class="list-page">
              <li>
                <a href="#">Title</a>
              </li>
              <li>
                <a href="#">Title</a>
              </li>
            </ul>
          </div>
          <div class="detail-new">
            <h2 class="detail-new__heading">Title</h2>
            <div class="detail-new__date">DD/MM/YYYY</div>
            <div class="detail-new__body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat commodo, natoque risus lacus sapien,
                vel. Magna pellentesque integer elit sed sed. Sem eros ullamcorper facilisi sit et mattis mi et. Ut
                convallis sit lorem sed molestie dictum amet nisi. Morbi non tempor, congue metus suspendisse proin
                lobortis eu. Ut et mi, auctor et sit commodo in. Netus tortor, sapien tincidunt magna eleifend mattis
                phasellus metus. Molestie ut eu tincidunt fermentum, tempor ac scelerisque ac risus. Tellus ut sem
                varius in dignissim. Lectus urna dictum pharetra, blandit leo ipsum, faucibus. Nunc diam vivamus donec
                tincidunt vulputate diam urna egestas. Luctus in pretium massa aliquet pellentesque praesent orci amet,
                sem. Sit gravida etiam vitae amet cursus eu facilisis. Morbi pulvinar amet nulla sed. Mauris ornare ut
                sed nunc. Tortor velit luctus id etiam interdum tortor vivamus nibh porttitor. Varius luctus euismod
                purus duis faucibus odio. Orci, egestas in sed tellus viverra arcu. Amet malesuada cum massa tempor
                aliquam scelerisque sed velit morbi. Mattis tortor, erat curabitur sit senectus amet vel commodo.
                Posuere ut sociis erat facilisi integer sed feugiat rhoncus feugiat. Suspendisse nisl leo cras
                suspendisse id. Lorem vel sagittis tempus, sapien, a lacus, neque eget a. Mauris malesuada nulla duis
                fermentum, convallis magna id ultrices. Risus, enim sit quam orci donec. At lectus est vitae at et. In
                pellentesque volutpat, vitae tincidunt proin nec. Viverra diam nibh at augue sem tincidunt blandit sit
                senectus. Ac tristique faucibus nibh quis id turpis ac dui varius.
              </p>
              <p>
                <img src="./img/Rectangle6.png" alt="image" />
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor tincidunt eget semper turpis. Sed enim
                quis euismod massa. Egestas felis turpis aliquet venenatis volutpat velit vitae eget bibendum. Viverra
                suscipit ligula lectus massa et. Turpis eu egestas et mi tellus, vitae ut diam. Ipsum maecenas at varius
                lobortis ullamcorper ornare tellus et. Dolor a morbi amet risus. Tristique augue viverra faucibus
                habitasse in lacinia quisque pulvinar. Elit eget viverra at diam elementum morbi pulvinar. In amet, amet
                quisque leo, sapien at sed arcu. Pellentesque quis ac vitae, ac enim auctor vel. Est vitae ac nibh
                tincidunt. Massa eget aliquet facilisis viverra est arcu. Adipiscing placerat mattis egestas ac nulla.
                Viverra sociis dictum sit nisl nec quam egestas arcu. Sit massa arcu dictum eget nibh rutrum diam. Enim
                volutpat aliquam felis, pretium pulvinar magna ultrices nullam. Justo sed ut eu imperdiet. Ultrices in
                sed vel aliquam facilisis. Mauris cursus ut at sem dictum nec. Ac praesent enim tellus tellus
                pellentesque sapien nunc tempus faucibus. Odio enim a iaculis nulla quam. Sed tellus ac velit quis sed
                neque, sit at. Senectus facilisis molestie ultricies eu lobortis sed in id pharetra. Lacinia turpis ac
                tortor massa pretium, etiam fermentum. Et mattis elit tellus, ultrices iaculis. Porttitor facilisi est
                proin id ac, eu, consequat. Est turpis enim, purus venenatis diam id. Sagittis, velit ac ut sed
                ultricies. Habitant et quis venenatis, sed facilisis. Nisl, enim, interdum dictumst elit sollicitudin
                turpis. Ipsum at ut libero, tortor tellus facilisis eu, porta sed. Adipiscing amet, mauris lorem ut
                vestibulum. Ut venenatis libero vivamus odio sed ac lacus. Pharetra consectetur ut nibh ut ac nunc.
                Posuere quis et bibendum faucibus cursus lorem. Sed tellus amet pharetra quam nunc. Fringilla aliquam
                amet, pretium odio. At eu pulvinar ut sit et vel. Mauris sit amet semper lobortis nec viverra amet.
                Vulputate nibh porta dictum elit facilisis. Morbi dis sit urna, diam commodo amet egestas. Leo elit non
                scelerisque varius aliquet vulputate sed faucibus. Mauris justo mi tellus vitae neque tellus in.
                Pulvinar rutrum dolor aliquam faucibus odio pulvinar metus. Ligula vel at faucibus et ut pulvinar id.
                Elit suscipit nulla odio nam vivamus et sagittis, libero. Phasellus euismod malesuada tincidunt quis
                faucibus in. At nullam est neque dui. Faucibus placerat morbi in eros, vestibulum in lectus scelerisque
                eget. Vulputate at nulla vestibulum euismod risus magna dictum lacus. Purus quam pharetra, pellentesque
                viverra nunc nisl, sed elit. Gravida odio ut vestibulum placerat lorem ultrices eu cras. Nec at purus
                pharetra, mauris velit, consequat felis a. Erat urna, netus sem non a sit fringilla donec. Diam viverra
                purus mauris, interdum etiam orci et. Morbi semper est aliquet amet mattis. Sed massa varius pharetra
                potenti massa. Est feugiat quis tristique ipsum semper felis adipiscing. Tempus et pharetra, sit leo
                vitae, suspendisse. Imperdiet semper pretium nulla eu. Nunc ultrices morbi adipiscing aliquam rhoncus
                commodo interdum massa diam. Feugiat purus amet, pretium lectus. Amet dictum nulla id scelerisque
                sollicitudin fermentum. Eu pellentesque consectetur in eget volutpat. Sed vel dis adipiscing magna arcu.
                Fringilla amet, mauris mauris, eget odio ornare maecenas. Pretium, dui, nunc velit nunc vel, diam.
                Convallis pharetra, viverra rutrum fusce. Sed sit parturient laoreet aenean integer lorem sed. Sit non
                arcu eget morbi. At consectetur integer eu adipiscing non arcu magna mauris. Tempor, quam sapien, id
                bibendum molestie id egestas. Integer malesuada in libero aenean in. Faucibus ullamcorper id tincidunt
                sed dui cras lacus. Purus nisi commodo porttitor quis risus arcu, enim tellus tellus. Purus feugiat
                mattis ut euismod amet malesuada feugiat pharetra, quis. Cursus ullamcorper quisque ornare imperdiet
                molestie massa morbi vulputate donec. Cursus eget eu, elit enim tortor odio nulla sapien metus. Sit sit
                volutpat arcu a erat. Diam pretium est magna sit odio id. Integer et dolor blandit nullam lorem posuere
                eget turpis. At ornare sit tristique varius arcu, nisi, dolor enim. Nec diam risus id in in. Vel,
                faucibus netus eu odio diam mauris. Ornare sit fusce eget non. Dui ullamcorper a ac aliquet sit pretium
                interdum. Mauris, eleifend lorem eget nibh mauris bibendum lobortis. Cursus dignissim proin leo posuere
                senectus. Commodo, rhoncus, egestas duis sagittis laoreet. Lorem quam adipiscing sed vitae, odio sed
                amet. Ac dui nisi, habitasse consectetur. Rhoncus euismod mauris scelerisque ipsum, tortor faucibus id
                diam. Nunc tristique tellus facilisis enim vitae orci facilisis. Non massa pellentesque malesuada
                viverra magna. Dignissim in tellus in donec vel placerat ridiculus. Sapien rhoncus dictum quis eget
                velit in condimentum amet vitae. Dictum bibendum nulla id scelerisque ipsum. Sit nisi pulvinar in amet
                purus. Eu amet odio praesent malesuada elementum ultrices felis. Condimentum commodo adipiscing sed
                eleifend fames tortor ut donec et. Quam quis semper tincidunt mauris scelerisque vitae aliquet augue
                consectetur. Nec, iaculis malesuada ipsum ipsum enim magna. Sed leo et volutpat eu. Sagittis, eleifend
                est viverra aenean faucibus congue at ultricies nunc. Duis consequat blandit nunc nunc sollicitudin
                interdum est semper. Eget neque in facilisis neque sed leo. Rutrum habitant amet ante eu. A maecenas sem
                nulla posuere. Imperdiet maecenas mauris pulvinar tellus tincidunt tortor in. Nisi, lacus lorem quisque
                etiam ipsum id lectus venenatis. Diam id in eu, morbi aliquam egestas. Quam enim molestie donec leo
                aliquam ipsum. Mauris massa nunc purus, nibh mauris. Netus nec morbi aliquet vulputate eget justo. Nam
                nisi, amet tempor malesuada. Ullamcorper ipsum mattis lacus integer viverra. Morbi consectetur lorem ac
                pretium. Suscipit nunc in amet nibh. Sagittis, velit feugiat eget cursus mi non. In tellus non tristique
                ut turpis sagittis. Imperdiet sed massa a donec arcu sed. Velit cursus viverra lacinia pellentesque.
                Amet dictum quam fermentum at sit. Ullamcorper tellus, habitant mauris ante. Mauris felis praesent
                molestie et eget praesent nunc faucibus. Faucibus non sit congue rutrum feugiat mauris. In egestas
                pharetra varius enim enim feugiat. Placerat sed nisl facilisis proin nunc, venenatis vel. Diam ac
                adipiscing ut dictum at nisl, pellentesque. Ullamcorper ac arcu dapibus vel tellus purus tincidunt.
                Enim, placerat interdum varius cras vulputate. Pharetra viverra id ac tellus, velit ac. Sit purus cras
                fames sed quis viverra massa adipiscing. Et posuere in pellentesque ac. Pharetra placerat dictum augue
                imperdiet diam eu nulla amet. Lacinia semper facilisis ipsum tempus libero lacus vel enim. Mauris at
                morbi sit nisi, eros enim ut a. Diam vestibulum nibh aliquam tortor. Arcu adipiscing id amet ut vitae
                nunc. Velit parturient tempor nunc sed lectus tellus adipiscing a ullamcorper. Aliquam, diam cursus
                egestas consectetur vitae viverra risus, mi. Diam diam ultricies quis tellus nibh imperdiet ligula mi.
                Eget augue ornare feugiat vestibulum risus lectus. Faucibus tempus dui felis lectus sem nunc est
                adipiscing. Tellus enim at duis enim euismod scelerisque morbi augue. Eu facilisis ultrices diam elit
                vitae aenean facilisis auctor lobortis. Iaculis pellentesque habitant aliquet risus. Non sed ultrices
                interdum et gravida sit lacus at. Mi scelerisque tempor egestas vestibulum, tortor leo. Nec a id eget
                sagittis. Augue risus sapien porta et. Sed malesuada mattis viverra risus et pellentesque consectetur.
                Augue tortor laoreet orci diam quam malesuada. Et tincidunt volutpat, ut habitant facilisis nullam
                mattis cursus pretium. Congue et enim congue etiam. In aliquam libero quis nullam faucibus ut aliquet.
                Vestibulum pellentesque semper id habitant vehicula nibh mauris. Egestas et ultrices nulla dolor
                tincidunt habitant ut porttitor pharetra. Blandit arcu fermentum egestas adipiscing quis enim. Auctor
                proin turpis risus purus molestie a diam velit sit. Lorem sollicitudin morbi nibh id non.
              </p>
            </div>
            <div class="detail-new__block">
              <a class="about__slider__link detail-new__link" href="#">
                <span>Kể cho chúng tôi về bạn</span>
                <img src="./img/planeicon.png" alt="image">
              </a>
            </div>
          </div>
          <div class="news__list detail-new__list">
            <div class="news__heading">Tin tức trong ngày</div>
            <div class="row">
              <div class="col l-4">
                <div class="news__item">
                  <a href="#" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="#" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="#" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="news__item">
                  <a href="#" class="news__item__image" style="background-image: url(./img/news5.png)"></a>
                  <div class="news__item__body">
                    <a href="#" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="#" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="news__item">
                  <a href="#" class="news__item__image" style="background-image: url(./img/news6.png)"></a>
                  <div class="news__item__body">
                    <a href="#" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="#" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="news__more">Xem thêm</a>
          </div>
        </div>
        <div class="about__slider__popup plane-form__container">
          <i class="fas fa-times"></i>
          <form id="plane-form" class="plane-form">
            <div class="plane-form__block">
              Nếu bạn muốn bắt đầu hành trình chinh phục bầu trời, xin hãy để lại 
              <span class="plane-form__group">
                <label for="plane-name">tên</label>
                <div class="plane-form__popup">
                  <input placeholder="Tên" type="text" name="plane-name" id="plane-name">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>, 
              <span class="plane-form__group">
                <label for="plane-phone">số điện thoại</label>
                <div class="plane-form__popup">
                  <input placeholder="Số điện thoại" type="number" name="plane-phone" id="plane-phone">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>                         
              và địa chỉ 
              <span class="plane-form__group">
                <label for="plane-email">email</label>
                <div class="plane-form__popup">
                  <input class="last-input" placeholder="Email" type="email" name="plane-email" id="plane-email">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>. <br>
              Skylead rất mong muốn có thể trực tiếp trò chuyện để chia sẻ với bạn nhiều hơn những thông tin hữu ích.
            </div>
            <input class="plane-form__submit" type="submit" value="GỬI">
          </form>
        </div>
      </main>
      <footer class="footer">
        <div class="grid wide footer__row">
          <div class="footer__block">
            <ul class="footer__list">
              <li>
                <strong>Hotline:</strong>
                0933 76 8389
              </li>
              <li>
                <strong>Email:</strong>
                info@skylead.vn
              </li>
            </ul>
            <ul class="footer__socials">
              <li>
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-youtube-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__block">
            <img class="footer__logo" src="./img/logofooter.png" alt="logo footer" />
          </div>
          <div class="footer__block">
            <div class="footer__address">
              <strong>Trụ sở chính:</strong>
              Tầng 5, N03- T7 khu đô thị Ngoại Giao Đoàn, Xuân Tảo, Bắc Từ Liêm Hà Nội.
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/validate.js"></script>
    <script src="js/form.js"></script>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/lity.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
