<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/jquery.parallax.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/lity.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="loading">
      <div data-text="Name..." class="loading__text">Name...</div>
    </div>
    <div class="modal__shadow"></div>
    <div class="noti-stack"></div>
    <div class="wrapper">
      <header class="header header--toggle">
        <div class="header__bar header__bar--2">
          <img src="./img/bar.png" alt="bar icon" />
          <div class="header__menu" style="background-image: url(./img/Rectangle25.png)">
            <i class="fas fa-times"></i>
            <ul>
              <li>
                <a href="./index.html">
                  trang chủ
                </a>
              </li>
              <li>
                <a href="./news.html">
                  tin tức
                </a>
              </li>
              <li>
                <a href="./video.html">
                  video
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="main how">
        <div class="how__top shadow-plane-0" style="background-image: url(./img/how1.png)">
          <div class="how__top__block">
            <div class="how__top__title1">Con đường trở thành</div>
            <div class="how__top__title2">PHI CÔNG</div>
          </div>
        </div>
        <div class="how__slide shadow-plane-1">
          <div class="how__slide__block">
            <div class="how__slide__left">
              <div class="how__slide__image" style="background-image: url(./img/how2.png)"></div>
            </div>
            <div class="how__slide__right">
              <div class="how__slide__right__title how__title">chọn trường</div>
              <ul>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Tìm chương trình học phù hợp với mục tiêu nghề nghiệp của bản thân</span>
                  </a>
                </li>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Kiểm tra bản thân xem có đủ tiêu chuẩn và kỹ năng cần thiết hay không</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="how__slide shadow-plane-2">
          <div class="how__slide__block how__slide__block--2">
            <div class="how__slide__left how__slide__left--2">
              <div class="how__slide__image" style="background-image: url(./img/how3.png)"></div>
            </div>
            <div class="how__slide__right how__slide__right--2">
              <div class="how__slide__right__title how__title">ĐĂNG KÍ</div>
              <ul>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Nộp đơn đăng kí</span>
                  </a>
                </li>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Phỏng vấn</span>
                  </a>
                </li>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Kiểm tra y tế theo quy định</span>
                  </a>
                </li>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Xin visa</span>
                  </a>
                </li>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Nộp tiền và nhập học</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="how__slide shadow-plane-3">
          <div class="how__slide__block">
            <div class="how__slide__left">
              <div class="how__slide__image" style="background-image: url(./img/how4.png)"></div>
            </div>
            <div class="how__slide__right">
              <div class="how__slide__right__title how__title">TÍCH LŨY</div>
              <ul>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Các chứng chỉ cần phải có</span>
                  </a>
                </li>
                <li>
                  <a href="./detailplane.html">
                    <i class="fas fa-check-circle"></i>
                    <span>Số giờ bay yêu cầu tối thiểu</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="how__contact shadow-plane-4" style="background-image: url(./img/how5.png)">
          <div class="how__contact__block">
            <div class="how__contact__title how__title">kết nối</div>
            <ul>
              <li>
                <a href="./detailplane.html">
                  <span>Con đường và định hướng nghề nghiệp</span>
                  <i class="fas fa-check-circle"></i>
                </a>
              </li>
              <li>
                <a href="./detailplane.html">
                  <span>Ở lại Mỹ làm việc hay quay về châu Á</span>
                  <i class="fas fa-check-circle"></i>
                </a>
              </li>
              <li>
                <a href="./detailplane.html">
                  <span>Xây dựng thương hiệu cá nhân</span>
                  <i class="fas fa-check-circle"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="how__bot shadow-plane-5">
          <div class="how__title" style="position: absolute; opacity: 0;">Khám phá</div>
          <div class="how__bot__item" style="--item-color: #4d5e9d">
            <a class="how__bot__item__icon" style="--diamon-color: #273c8b">
              <span>Bắt đầu hành trình</span>
            </a>
            <div class="how__bot__item__hover">
              <form id="plane-form" class="plane-form how__bot__form">
                <div class="plane-form__block">
                  Nếu bạn muốn bắt đầu hành trình chinh phục bầu trời, xin hãy để lại
                  <span class="plane-form__group">
                    <label for="plane-name">tên</label>
                    <div class="plane-form__popup">
                      <input placeholder="Tên" type="text" name="plane-name" id="plane-name" />
                      <i class="fas fa-chevron-right"></i>
                      <div class="plane-form__message"></div>
                    </div> </span
                  >,
                  <span class="plane-form__group">
                    <label for="plane-phone">số điện thoại</label>
                    <div class="plane-form__popup">
                      <input placeholder="Số điện thoại" type="number" name="plane-phone" id="plane-phone" />
                      <i class="fas fa-chevron-right"></i>
                      <div class="plane-form__message"></div>
                    </div>
                  </span>
                  và địa chỉ
                  <span class="plane-form__group">
                    <label for="plane-email">email</label>
                    <div class="plane-form__popup">
                      <input placeholder="Email" type="email" name="plane-email" id="plane-email" />
                      <i class="fas fa-chevron-right"></i>
                      <div class="plane-form__message"></div>
                    </div> </span
                  >. <br />
                  Skylead rất mong muốn có thể trực tiếp trò chuyện để chia sẻ với bạn nhiều hơn những thông tin hữu
                  ích.
                </div>
                <input class="plane-form__submit" type="submit" value="GỬI" />
              </form>
            </div>
          </div>
          <div class="how__bot__item" style="--item-color: #5ebcde">
            <a class="how__bot__item__icon" style="--diamon-color: #00a6df"> <span>Tìm hiểu thêm</span> </a>
            <div class="how__bot__item__hover">
              <div class="how__bot__item__question">
                <div class="how__bot__item__question__title">câu hỏi</div>
                <ul>
                  <li>
                    <a href="./detailnews.html">
                      <i class="fas fa-question-circle"></i>
                      <span>Điều kiện để trở thành phi công là gì?</span>
                    </a>
                  </li>
                  <li>
                    <a href="./detailnews.html">
                      <i class="fas fa-question-circle"></i>
                      <span>Nữ giới có thể học phi công không?</span>
                    </a>
                  </li>
                  <li>
                    <a href="./detailnews.html">
                      <i class="fas fa-question-circle"></i>
                      <span>Học phi công mất bao nhiêu thời gian?</span>
                    </a>
                  </li>
                  <li>
                    <a href="./detailnews.html">
                      <i class="fas fa-question-circle"></i>
                      <span>Người có vết sẹo, hình săm có thể làm phi công không?</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="how__duongbang">
          <img class="how__duongbang__duong" src="./img/duongbay.png" alt="duong bay" />
          <div class="how__duongbang__plane">
            <img src="./img/maby.png" alt="may bay" />
            <span></span>
          </div>
          <div class="how__duongbang__all">
            <a data-scroll="shadow-plane-0" title="" class="how__duongbang__shadow-plane">
              <img src="./img/planeshadow.png" alt="shawdow plane">
            </a>
            <a data-scroll="shadow-plane-1" title="Chọn Trường" class="how__duongbang__shadow-plane">
              <img src="./img/planeshadow.png" alt="shawdow plane">
            </a>
            <a data-scroll="shadow-plane-2" title="Đăng Ký" class="how__duongbang__shadow-plane">
              <img src="./img/planeshadow.png" alt="shawdow plane">
            </a>
            <a data-scroll="shadow-plane-3" title="Tích Lũy" class="how__duongbang__shadow-plane">
              <img src="./img/planeshadow.png" alt="shawdow plane">
            </a>
            <a data-scroll="shadow-plane-4" title="Kết Nối" class="how__duongbang__shadow-plane">
              <img src="./img/planeshadow.png" alt="shawdow plane">
            </a>
            <a data-scroll="shadow-plane-5" title="Khám Phá" class="how__duongbang__shadow-plane">
              <img src="./img/planeshadow.png" alt="shawdow plane">
            </a>
          </div>
        </div>
      </main>
    </div>
    <script src="js/validate.js"></script>
    <script src="js/form.js"></script>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/lity.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
