<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>{if $pageTitle}{$pageTitle|strip_tags}{else}{if $lang=="vn"}{$estore->getProperty('custom_title_seo')}{else}{$estore->getProperty('custom_title_seo_en')}{/if}{/if}</title>
    <link rel="shortcut icon" type=image/x-icon href="{$estore->getProperty('admin_logo')}">
    <link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/all.css" />
    <link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/lity.min.css" />
    <link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/landingpage.css{$estore->getProperty('custom_version_css_js')}" />
    <meta property="fb:app_id" content="636139804451313" />
    <meta name="description" content="{if $pageDescription}{$pageDescription|strip_tags}{else}{if $lang=='vn'}{$estore->getDescription()}{else}{$estore->getProperty('custom_desc_seo_en')}{/if}{/if}" />
    <meta name="keywords" content="{if $pageKeywords}{$pageKeywords|strip_tags}{else}{if $lang=='vn'}{$estore->getKeywords()}{else}{$estore->getProperty('custom_keyword_seo_en')}{/if}{/if}">
    <meta property="og:locale" content="vi_VN" />
    {if $currentUrlx1}
    <link rel="canonical" href="{$currentUrlx1}" />
    <meta property="og:url" content="{$currentUrlx1}" />
    {/if}
    <meta property="og:type" content="{if $typeweb}{$typeweb}{else}website{/if}" />
    <meta property="og:title" content="{if $pageTitle}{$pageTitle|strip_tags}{else}{if $lang=='vn'}{$estore->getProperty('custom_title_seo')}{else}{$estore->getProperty('custom_title_seo_en')}{/if}{/if}" />
    <meta property="og:description" content="{if $pageDescription}{$pageDescription|strip_tags}{else}{if $lang=='vn'}{$estore->getDescription()}{else}{$estore->getProperty('custom_desc_seo_en')}{/if}{/if}" />
    {if $logoimg1}
    <meta property="og:image" content="{if $logoimg1}{$logoimg1}{else}{$logoimg1}{/if}" />
    {else}
    <meta property="og:image" content="{$logoimg}" />
    {/if}
    <meta property="og:image:alt" content="image-item" />
    <meta property="og:image:width" content="384" />
    <meta property="og:image:height" content="384" />
    <meta property="og:site_name" content="{if $pageTitle}{$pageTitle|strip_tags}{else}{if $lang=='vn'}{$estore->getProperty('custom_title_seo')}{else}{$estore->getProperty('custom_title_seo_en')}{/if}{/if}" />
    <meta name="google-site-verification" content="JNVQhK960NdPxkdpNNO1iZwZOVcmqORhL7Ido1J5kto" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
    {literal}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ED5X7GCTB8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ED5X7GCTB8');
    </script>
    {/literal}
    
  </head>

  <body>
    <div class="loading">
        <img src="{$estore->getProperty('admin_logo')}" alt="logo" />
    </div>
  
    <div class="wrapper">
      <div class="ldp__skylead">
        <div class="ldp__skylead__sticky">
        <form class="ldp__skylead__form {if $popup==1}ldp__skylead__form__submit{/if}" method="POST" id="plane-forms">
          <div class="ldp__skylead__form__show1">
            <h2 class="ldp__skylead__form__heading">{$locale->msg('register_consultant')}</h2>
            <div class="ldp__skylead__form__sub">{$locale->msg('register_consultant_sub')}</div>
            <div class="ldp__skylead__group">
              <input placeholder="{$locale->msg('fullname')}"  value="{if isset($error.INPUT)}{$error.INPUT.planename.value}{/if}"  type="text" name="planename" id="planename" />
              <div class="ldp__skylead__error">{if isset($error.INPUT) && $error.INPUT.planename.error}{$error.INPUT.planename.message}{/if}</div>
            </div>
            <div class="ldp__skylead__group">
              <input placeholder="{$locale->msg('tels')}" type="tel"  value="{if isset($error.INPUT)}{$error.INPUT.planephone.value}{/if}"  name="planephone" id="plane-phone" />
              <div class="ldp__skylead__error">{if isset($error.INPUT) && $error.INPUT.planephone.error}{$error.INPUT.planephone.message}{/if}</div>
            </div>
            <div class="ldp__skylead__group">
              <input placeholder="Email" type="email" name="planeemail"  value="{if isset($error.INPUT)}{$error.INPUT.planeemail.value}{/if}"  id="planeemail" />
              <div class="ldp__skylead__error">{if isset($error.INPUT) && $error.INPUT.planeemail.error}{$error.INPUT.planeemail.message}{/if}</div>
            </div>
            <div class="ldp__skylead__group">
              <input placeholder="{$locale->msg('provinces')}" type="text"  value="{if isset($error.INPUT)}{$error.INPUT.planeprovinces.value}{/if}"  name="planeprovinces" id="planeprovinces" />
              <div class="ldp__skylead__error">{if isset($error.INPUT) && $error.INPUT.planeprovinces.error}{$error.INPUT.planeprovinces.message}{/if}</div>
            </div>
            <input type="hidden" name="doo" value="submit"/>
            <input type="hidden" name="op" value="estore"/>
            <input type="hidden" name="act" value="landingpage"/>
            {if $errMsg}
            <div class="form-message-success"  style="color:red;font-size:18px"><i class='far fa-check-circle'></i> {$errMsg}</div>
            {/if}
            <input class="ldp__form__submit"  type="submit" value="{$locale->msg('send')}">
          </div>
        <div class="ldp__skylead__form__show2">
          <h2>Thank you</h2>
          <p>Skylead đã nhận được thông tin của bạn. Chuyên viên tư vấn của chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
        </div>
      </form>
        </div>
        
       
        <div class="ldp__skylead__open-form"> <span>{$locale->msg('consultant')}</span><i class="fas fa-edit"></i></div>
        <input class="lang" hidden value="{$lang}" id="lang">
        
        {if $objArticle}
            {$objArticle->getDetails($lang)}
        {/if}
      </div>
    </div>
    {include file='footer.tpl.html' title='site-footer'}
  <script src="/{$templatePath}/{$userTemplate}/js/landingpage.js{$estore->getProperty('custom_version_css_js')}"></script>

  </body>
</html>
