<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Landingpage</title>
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/lity.min.css" />
    <link rel="stylesheet" href="css/landingpage.css" />
  </head>

  <body>
    <div class="loading">
      <img src="./img/logo.png" alt="logo">
  </div>
    <div class="wrapper">
      <div class="ldp__skylead">
        <div class="ldp__skylead__sticky">
          <form class="ldp__skylead__form">
            <div class="ldp__skylead__form__show1">
              <h2 class="ldp__skylead__form__heading">Đăng kí nhận tư vấn</h2>
              <div class="ldp__skylead__form__sub">Cùng Skylead chinh phục giấc mơ làm chủ bầu trời</div>
              <div class="ldp__skylead__group">
                <input placeholder="Họ và tên" type="text" name="ldp__skylead__name" id="ldp__skylead__name" />
                <div class="ldp__skylead__error"></div>
              </div>
              <div class="ldp__skylead__group">
                <input placeholder="Số điện thoại" type="tel" name="ldp__skylead__phone" id="ldp__skylead__phone" />
                <div class="ldp__skylead__error"></div>
              </div>
              <div class="ldp__skylead__group">
                <input placeholder="Email" type="email" name="ldp__skylead__email" id="ldp__skylead__email" />
                <div class="ldp__skylead__error"></div>
              </div>
              <div class="ldp__skylead__group">
                <input placeholder="Tỉnh thành" type="text" name="ldp__skylead__province" id="ldp__skylead__province" />
                <div class="ldp__skylead__error"></div>
              </div>
              <input type="submit" value="GỬI" />
            </div>
            <div class="ldp__skylead__form__show2">
              <h2></h2>
              <p></p>
            </div>
          </form>
        </div>
        <div class="ldp__skylead__open-form"> <span>Nhận tư vấn</span><i class="fas fa-edit"></i></div>
        <div class="ldp__skylead__view">
          <div class="ldp__skylead__container">
            <div class="ldp__skylead__top" style="background-image: url(./img/ldp/background-top.png)">
              <a href="#" class="ldp__skylead__logo">
                <img src="./img/logo.png" alt="logo" />
              </a>
              <div class="ldp__skylead__body">
                <div class="ldp__skylead__top__text">
                  “ Với sứ mệnh chắp cánh giấc mơ bay cho thế hệ trẻ Việt Nam, Skylead tự hào là đơn vị duy nhất tại Việt
                  Nam độc quyền hợp tác với các học viện bay danh giá của Mỹ, cung cấp dịch vụ khóa học phi công thương mại
                  với tiêu chuẩn toàn cầu để viễn cảnh làm chủ bầu trời Quốc tế của người Việt không còn là giấc mơ xa vời.”
                </div>
              </div>
            </div>
            <div class="ldp__skylead__mid">
              <div class="ldp__skylead__body ldp__skylead__body--mid">
                <div class="ldp__skylead__heading">Tại sao chọn nghề phi công?</div>
                <div class="ldp__skylead__why-1">
                  <div class="ldp__skylead__why-1__block">
                    <div class="ldp__skylead__why-1__body">
                      <div class="ldp__skylead__why-1__heading">
                        <div class="ldp__skylead__why-1__stt">1</div>
                        <div class="ldp__skylead__why-1__title">Dễ xin việc:</div>
                      </div>
                      <div class="ldp__skylead__why-1__content">
                        Cho tới năm 2027, tình trạng thiếu phi công tăng mạnh trên toàn thế giới. Boeing xác định ngành vận
                        tải hàng không toàn cầu cần thêm 804.000 phi công mới trong 20 năm tới để duy trì và phát triển thị
                        trường. Cho đến năm 2029, CAE dự đoán khu vực châu Á - Thái Bình Dương sẽ cần thêm 91.000 phi công
                        mới.
                      </div>
                    </div>
                    <div class="ldp__skylead__why-1__image" style="background-image: url(./img/ldp/phicong1.png)"></div>
                  </div>
                  <div class="ldp__skylead__why-1__block ldp__skylead__why-1__block--mb">
                    <div class="ldp__skylead__why-1__image ldp__skylead__why-1__image--mb" style="background-image: url(./img/ldp/phicong2.png)"></div>
                    <div class="ldp__skylead__why-1__body">
                      <div class="ldp__skylead__why-1__heading">
                        <div class="ldp__skylead__why-1__stt">2</div>
                        <div class="ldp__skylead__why-1__title">Lương cao:</div>
                      </div>
                      <div class="ldp__skylead__why-1__content">
                        Năm 2022, phi công tại Mỹ có mức lương trung bình là $250.000/năm (khoảng 5,5 tỷ). Bên cạnh đó,
                        những phi công nhiều kinh nghiệm được trả lương cao đến $310.000/năm (khoảng 7 tỷ).
                      </div>
                    </div>
                  </div>
                  <div class="ldp__skylead__why-1__block">
                    <div class="ldp__skylead__why-1__body">
                      <div class="ldp__skylead__why-1__heading">
                        <div class="ldp__skylead__why-1__stt">3</div>
                        <div class="ldp__skylead__why-1__title">Trải nghiệm đáng mơ ước:</div>
                      </div>
                      <div class="ldp__skylead__why-1__content">
                        Được chu du năm châu bốn biển, may mắn sở hữu “phòng làm việc” ấn tượng nhất thế giới với tầm nhìn
                        đẹp kỳ diệu và liên tục thay đổi mỗi ngày, nghề phi công là ước mơ của rất nhiều bạn trẻ Việt Nam.
                      </div>
                    </div>
                    <div class="ldp__skylead__why-1__image" style="background-image: url(./img/ldp/phicong3.png)"></div>
                  </div>
                </div>
                <div class="ldp__skylead__video" style="background-image: url(./img/ldp/video.png)">
                  <a href="https://www.youtube.com/watch?v=sSGslnuNYyM" data-lity class="ldp__skylead__play">
                    <img src="./img/ldp/icon-play.png" alt="icon play" />
                  </a>
                </div>
                <div class="ldp__skylead__heading">Tại sao chọn Skylead?</div>
                <div class="ldp__skylead__sub">
                  Tại Việt Nam, Skylead là đối tác liên kết độc quyền với các học viện hàng không thuộc Top10 trên tổng số
                  500 học viện đào tạo hàng không tại Mỹ.
                </div>
                <div class="ldp__skylead__why-2">
                  <div class="ldp__skylead__why-2__block">
                    <div class="ldp__skylead__why-2__image" style="background-image: url(./img/ldp/skylead1.png)"></div>
                    <div class="ldp__skylead__why-2__content">
                      Học viện Hàng không L3Harris (tại Sanford, Florida) nằm trong Top 3 học viện hàng không danh giá nhất
                      Hoa Kỳ.
                    </div>
                  </div>
                  <div class="ldp__skylead__why-2__block">
                    <div class="ldp__skylead__why-2__image ldp__skylead__why-2__image--right" style="background-image: url(./img/ldp/skylead1.png)"></div>
                    <div class="ldp__skylead__why-2__content ldp__skylead__why-2__content--left">
                      Học viện Hàng không Faithful Guardian Aviation (tại Atlanta, Georgia) nằm trong Top 10, là học viện đủ
                      tiêu chuẩn đào tạo phi công cho quân đội Hoa Kỳ.
                    </div>
                  </div>
                </div>
                <div class="ldp__skylead__heading">Sau khi tốt nghiệp, học viên nhận ngay:</div>
                <div class="ldp__skylead__after">
                  <div class="ldp__skylead__after__block">
                    <div class="ldp__skylead__after__heading">
                      <div class="ldp__skylead__after__stt">1</div>
                      <div class="ldp__skylead__after__title">Số giờ bay lên đến 1500h</div>
                    </div>
                    <div class="ldp__skylead__after__text">
                      Đây là công cụ đánh giá trình độ và kinh nghiệm của phi công, lợi thế của Skylead là mang lại số giờ
                      bay tích luỹ cao trong khoảng thời gian ngắn chỉ từ 2 - 2,5 năm.
                    </div>
                    <div class="ldp__skylead__after__image" style="background-image: url(./img/ldp/nhanngay1.png)"></div>
                  </div>
                  <div class="ldp__skylead__after__block">
                    <div class="ldp__skylead__after__heading">
                      <div class="ldp__skylead__after__stt">2</div>
                      <div class="ldp__skylead__after__title">Bằng cấp đạt chuẩn Quốc tế</div>
                    </div>
                    <div class="ldp__skylead__after__text">
                      Học viên sẽ được nhận 4 bằng cấp đạt chuẩn Quốc tế: CPL, CFI, CFII, MEI.
                    </div>
                    <div class="ldp__skylead__after__image ldp__skylead__after__image--mb" style="background-image: url(./img/ldp/nhanngay2.png)"></div>
                  </div>
                  <div class="ldp__skylead__after__block">
                    <div class="ldp__skylead__after__heading">
                      <div class="ldp__skylead__after__stt">3</div>
                      <div class="ldp__skylead__after__title">Có việc ngay sau khi tốt nghiệp.</div>
                    </div>
                    <div class="ldp__skylead__after__text">
                      98% học viên sau tốt nghiệp được 15 hãng hàng không liên kết với các học viện phỏng vấn và mời về làm
                      việc.
                    </div>
                    <div class="ldp__skylead__after__image" style="background-image: url(./img/ldp/nhanngay3.png)"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ldp__skylead__bot" style="background-image: url(./img/ldp/background-bot.png)">
              <div class="ldp__skylead__body">
                <div class="ldp__skylead__bot__block">
                  <div class="ldp__skylead__bot__author">Amelia Mary Earhart</div>
                  <div class="ldp__skylead__bot__content">
                    “Everyone has oceans to fly, if they have the heart to do it. Is it reckless? Maybe. But what do dreams
                    know of boundaries?"
                  </div>
                </div>
              </div>
            </div>
            <div class="ldp__skylead__foot">
              <div class="ldp__skylead__body">
                <div class="ldp__skylead__foot__block">
                  <a href="#" class="ldp__skylead__foot__logo">
                    <img src="./img/logo.png" alt="logo" />
                  </a>
                  <div class="ldp__skylead__foot__info">
                    <p>Hotline: 0933 76 8389 / 0933 79 8389</p>
                    <p>Email: info@skylead.vn</p>
                    <p>Trụ sở chính: N03 - T7 Khu đô thị Ngoại Giao Đoàn, Xuân Tảo, Bắc Từ Liêm, Hà Nội.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/lity.min.js"></script>
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="js/landingpage.js"></script>
  </body>
</html>
