<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/jquery.parallax.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/lity.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="loading">
      <img src="./img/logo.png" alt="logo">
  </div>
    <div class="modal__shadow"></div>
    <div class="noti-stack"></div>
    <div class="wrapper">
      <header class="header header--toggle">
        <div class="header__bar header__bar--color header__bar--2">
          <img src="./img/bar2.png" alt="bar icon" />
          <div class="header__menu" style="background-image: url(./img/Rectangle25.png)">
            <i class="fas fa-times"></i>
            <ul>
              <li>
                <a href="./index.html">
                  trang chủ
                </a>
              </li>
              <li>
                <a href="./news.html">
                  tin tức
                </a>
              </li>
              <li>
                <a href="./video.html">
                  video
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="main news">
        <img src="./img/news1.png" alt="image" class="news__cover">
        <div class="grid wide">
          <div class="lazy">
            <div class="news__list-page" data-effect="slide-right"> 
              <ul class="list-page">
                <li>
                  <a href="./detailnews.html">Title</a>
                </li>
                <li>
                  <a href="./detailnews.html">Title</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="news__container">
          <div class="lazy">
            <div class="news__slider1" data-effect="slide-left">
              <div class="news__slider1__for">
                <div class="news__slider1__for__slide" style="background-image: url(./img/news3.png)"></div>
                <div class="news__slider1__for__slide" style="background-image: url(./img/news3.png)"></div>
                <div class="news__slider1__for__slide" style="background-image: url(./img/news3.png)"></div>
                <div class="news__slider1__for__slide" style="background-image: url(./img/news3.png)"></div>
              </div>
              <div class="news__slider1__nav">
                <div class="news__slider1__nav__slide">
                  <a href="./detailnews.html" class="news__slider1__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                  <div class="news__slider1__nav__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                    Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                  </div>
                </div>
                <div class="news__slider1__nav__slide">
                  <a href="./detailnews.html" class="news__slider1__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                  <div class="news__slider1__nav__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                    Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                  </div>
                </div>
                <div class="news__slider1__nav__slide">
                  <a href="./detailnews.html" class="news__slider1__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                  <div class="news__slider1__nav__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                    Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                  </div>
                </div>
                <div class="news__slider1__nav__slide">
                  <a href="./detailnews.html" class="news__slider1__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                  <div class="news__slider1__nav__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                    Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid wide">
          <div class="news__list lazy">
            <div data-effect="slide-right">
              <div class="news__heading news__heading--no">Tin tức theo chủ đề</div>
            </div>
            <div class="row" data-effect="slide-left">
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div> 
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="./totalnews.html" class="news__more">Xem thêm</a>
          </div>
        </div>
        <div class="news__container">
          <div class="news__slider2 lazy">
            <div data-effect="slide-right">
              <div class="news__heading">Khóa học mới</div>
            </div>
            <div data-effect="slide-left">
              <div class="news__slider2__block">
                <div class="news__slider2__for">
                  <div class="news__slider2__for__slide" style="background-image: url(./img/news2.png)"></div>
                  <div class="news__slider2__for__slide" style="background-image: url(./img/news2.png)"></div>
                  <div class="news__slider2__for__slide" style="background-image: url(./img/news2.png)"></div>
                  <div class="news__slider2__for__slide" style="background-image: url(./img/news2.png)"></div>
                </div>
                <div class="news__slider2__nav">
                  <div class="news__slider2__nav__slide">
                    <a href="./detailnews.html" class="news__slider2__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__slider2__nav__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                      Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                  </div>
                  <div class="news__slider2__nav__slide">
                    <a href="./detailnews.html" class="news__slider2__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__slider2__nav__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                      Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                  </div>
                  <div class="news__slider2__nav__slide">
                    <a href="./detailnews.html" class="news__slider2__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__slider2__nav__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                      Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                  </div>
                  <div class="news__slider2__nav__slide">
                    <a href="./detailnews.html" class="news__slider2__nav__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__slider2__nav__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse in.
                      Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid wide">
          <div class="news__list lazy">
            <div data-effect="slide-right">
              <div class="news__heading news__heading--no">Tin tức theo chủ đề</div>
            </div>
            <div class="row" data-effect="slide-left">
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div> 
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="./totalnews.html" class="news__more">Xem thêm</a>
          </div>
        </div>
        <div class="grid wide">
          <div class="news__list lazy">
            <div data-effect="slide-right">
              <div class="news__heading news__heading--no">Tin tức theo chủ đề</div>
            </div>
            <div class="row" data-effect="slide-left">
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div> 
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
              <div class="col l-4 m-12 c-12">
                <div class="news__item">
                  <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                  <div class="news__item__body">
                    <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                    <div class="news__item__date">DD/MM/YYYY</div>
                    <div class="news__item__content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                      in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                    </div>
                    <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="./totalnews.html" class="news__more">Xem thêm</a>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="grid wide footer__row">
          <div class="footer__block">
            <ul class="footer__list">
              <li>
                <strong>Hotline:</strong>
                0933 76 8389
              </li>
              <li>
                <strong>Email:</strong>
                info@skylead.vn
              </li>
            </ul>
            <ul class="footer__socials">
              <li>
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-youtube-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__block">
            <img class="footer__logo" src="./img/logofooter.png" alt="logo footer" />
          </div>
          <div class="footer__block">
            <div class="footer__address">
              <strong>Trụ sở chính:</strong>
              Tầng 5, N03- T7 khu đô thị Ngoại Giao Đoàn, Xuân Tảo, Bắc Từ Liêm Hà Nội.
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/validate.js"></script>
    <script src="js/form.js"></script>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/lity.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
