<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/jquery.parallax.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/lity.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <!-- <div class="loading">
      <div data-text="Name..." class="loading__text">Name...</div>
    </div> -->
    <div class="modal__shadow"></div>
    <div class="noti-stack"></div>
    <div class="wrapper">
      <header class="header header--toggle">
        <div class="header__bar header__bar--color header__bar--2">
          <img src="./img/bar.png" alt="bar icon" />
          <div class="header__menu" style="background-image: url(./img/Rectangle25.png)">
            <i class="fas fa-times"></i>
            <ul>
              <li>
                <a href="./index.html">
                  trang chủ
                </a>
              </li>
              <li>
                <a href="./news.html">
                  tin tức
                </a>
              </li>
              <li>
                <a href="./video.html">
                  video
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="main news">
        <img src="./img/news1.png" alt="news cover" class="news__cover" />
        <div class="grid wide">
          <div class="news__list total-news video--main">
            <div class="news__list-page">
              <ul class="list-page">
                <li>
                  <a href="#">Video</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video3.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-4">
                <div class="video__item">
                  <div class="video__item__block">
                    <video src="./img/video2.mp4" playsinside muted></video>
                  </div>
                  <div class="video__item__body">
                    <div class="video__item__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    <div class="video__item__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                      ducimus dolores ut sit quisquam nostrum atque
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="total-news__nav">
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
              </li>
            </ul>
          </div>
          <div class="detail-video video--extra">
            <div class="news__list-page">
              <ul class="list-page">
                <li>
                  <a href="./video.html">Video</a>
                </li>
                <li>
                  <a href="#">Title</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col l-7">
                <div class="detail-video__current">
                  <video src="" controls></video>
                  <div class="detail-video__current__block">
                    <div class="detail-video__current__title">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="detail-video__current__content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam accusamus consequatur odio, illum
                      explicabo voluptates excepturi 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-5">
                <div class="detail-video__list">
                  <div class="detail-video__item">
                    <div class="detail-video__block">
                      <video src="./img/video3.mp4" playsinside muted></video>
                    </div>
                    <div class="detail-video__body">
                      <div class="detail-video__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                      <div class="detail-video__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                        ducimus dolores ut sit quisquam nostrum atque
                      </div>
                    </div>
                  </div>
                  <div class="detail-video__item">
                    <a href="#" class="detail-video__block">
                      <video src="./img/video2.mp4" playsinside muted></video>
                    </a>
                    <div class="detail-video__body">
                      <a href="#" class="detail-video__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                      <div class="detail-video__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                        ducimus dolores ut sit quisquam nostrum atque
                      </div>
                    </div>
                  </div>
                  <div class="detail-video__item">
                    <a href="#" class="detail-video__block">
                      <video src="./img/video2.mp4" playsinside muted></video>
                    </a>
                    <div class="detail-video__body">
                      <a href="#" class="detail-video__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                      <div class="detail-video__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                        ducimus dolores ut sit quisquam nostrum atque
                      </div>
                    </div>
                  </div>
                  <div class="detail-video__item">
                    <a href="#" class="detail-video__block">
                      <video src="./img/video2.mp4" playsinside muted></video>
                    </a>
                    <div class="detail-video__body">
                      <a href="#" class="detail-video__title">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                      <div class="detail-video__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aperiam fugit, impedit
                        ducimus dolores ut sit quisquam nostrum atque
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col l-12">
                <a class="about__slider__link detail-video__link" href="#">
                  <span>Kể cho chúng tôi về bạn</span>
                  <img src="./img/planeicon.png" alt="image">
                </a>
              </div>
            </div>
            <div class="news__list">
              <div class="news__heading">Tin tức trong ngày</div>
              <div class="row">
                <div class="col l-4">
                  <div class="news__item">
                    <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                    <div class="news__item__body">
                      <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                      <div class="news__item__date">DD/MM/YYYY</div>
                      <div class="news__item__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                        in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                      </div>
                      <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                    </div>
                  </div>
                </div>
                <div class="col l-4">
                  <div class="news__item">
                    <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                    <div class="news__item__body">
                      <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                      <div class="news__item__date">DD/MM/YYYY</div>
                      <div class="news__item__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                        in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                      </div>
                      <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                    </div>
                  </div>
                </div>
                <div class="col l-4">
                  <div class="news__item">
                    <a href="./detailnews.html" class="news__item__image" style="background-image: url(./img/news4.png)"></a>
                    <div class="news__item__body">
                      <a href="./detailnews.html" class="news__item__title">Lorem ipsum dolor sit amet, consectetur</a>
                      <div class="news__item__date">DD/MM/YYYY</div>
                      <div class="news__item__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo nunc turpis non sit suspendisse
                        in. Habitant viverra sit mi sed sit at in tortor iaculis. Auctor tempor, amet viverra non.
                      </div>
                      <a href="./detailnews.html" class="news__item__link">Xem thêm</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about__slider__popup plane-form__container">
          <i class="fas fa-times"></i>
          <form id="plane-form" class="plane-form">
            <div class="plane-form__block">
              Nếu bạn muốn bắt đầu hành trình chinh phục bầu trời, xin hãy để lại 
              <span class="plane-form__group">
                <label for="plane-name">tên</label>
                <div class="plane-form__popup">
                  <input placeholder="Tên" type="text" name="plane-name" id="plane-name">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>, 
              <span class="plane-form__group">
                <label for="plane-phone">số điện thoại</label>
                <div class="plane-form__popup">
                  <input placeholder="Số điện thoại" type="number" name="plane-phone" id="plane-phone">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>                         
              và địa chỉ 
              <span class="plane-form__group">
                <label for="plane-email">email</label>
                <div class="plane-form__popup">
                  <input class="last-input" placeholder="Email" type="email" name="plane-email" id="plane-email">
                  <i class="fas fa-chevron-right"></i>
                  <div class="plane-form__message"></div>
                </div>
              </span>. <br>
              Skylead rất mong muốn có thể trực tiếp trò chuyện để chia sẻ với bạn nhiều hơn những thông tin hữu ích.
            </div>
            <input class="plane-form__submit" type="submit" value="GỬI">
          </form>
        </div>
      </main>
      <footer class="footer">
        <div class="grid wide footer__row">
          <div class="footer__block">
            <ul class="footer__list">
              <li>
                <strong>Hotline:</strong>
                0933 76 8389
              </li>
              <li>
                <strong>Email:</strong>
                info@skylead.vn
              </li>
            </ul>
            <ul class="footer__socials">
              <li>
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-youtube-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__block">
            <img class="footer__logo" src="./img/logofooter.png" alt="logo footer" />
          </div>
          <div class="footer__block">
            <div class="footer__address">
              <strong>Trụ sở chính:</strong>
              Tầng 5, N03- T7 khu đô thị Ngoại Giao Đoàn, Xuân Tảo, Bắc Từ Liêm Hà Nội.
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/validate.js"></script>
    <script src="js/form.js"></script>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/lity.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
