{if $result_code}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if $error_code}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}
<div class="contType"><h2>{$locale->msg('notes')}:</h2>{$locale->msg('notes_user')}</div>
{if $error}
{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<div class="errorBox">
<h2>{$locale->msg('error_notes')}:</h2>
<ul class="listStyle">
{foreach from=$input item=field}
{if $field.error}<li>{$field.message}</li>{/if}
{/foreach}
<li>{$error.message}</li>
</ul>
</div>
{/if}
{/if}
<div class="formContent">
<h1>{$locale->msg('add_new_user')}</h1>
<form action="/{$aScript}" method="post" name="formAdd" id="formAdd" enctype="multipart/form-data">
<fieldset>
<p><strong>* {$locale->msg('required_fields')}</strong></p>
<p{if isset($error.INPUT) && $error.INPUT.username.error} class="errormsg"{/if}><label for="username">* {$locale->msg('username')}:</label>
<input class="small" type="text" value="{if isset($error.INPUT)}{$error.INPUT.username.value}{/if}" name="username" id="username" /></p>

<p{if isset($error.INPUT) && $error.INPUT.password.error} class="errormsg"{/if}><label for="password">* {$locale->msg('password')}:</label>
<input class="small" type="password" value="{if isset($error.INPUT)}{$error.INPUT.password.value}{/if}" name="password" id="password" /></p>

<p{if isset($error.INPUT) && $error.INPUT.confirm_password.error} class="errormsg"{/if}><label for="confirm_password">* {$locale->msg('confirm_password')}:</label>
<input class="small" type="password" value="{if isset($error.INPUT)}{$error.INPUT.confirm_password.value}{/if}" name="confirm_password" id="confirm_password" /></p>

<p{if isset($error.INPUT) && $error.INPUT.idNV.error} class="errormsg"{/if}><label for="idNV">* {$locale->msg('idNV')}:</label>
<input class="medium" type="text" value="{if isset($error.INPUT)}{$error.INPUT.idNV.value}{/if}" name="idNV" id="idNV" /></p>

<p{if isset($error.INPUT) && $error.INPUT.fullname.error} class="errormsg"{/if}><label for="fullname">* {$locale->msg('fullname')}:</label>
<input class="medium" type="text" value="{if isset($error.INPUT)}{$error.INPUT.fullname.value}{/if}" name="fullname" id="fullname" /></p>

<p{if isset($error.INPUT) && $error.INPUT.date.error} class="errormsg"{/if}><label for="title"> Ngày sinh : </label>
<input placeholder="chọn ngày" style="width: 85px; text-align: center;" value="{if isset($error.INPUT)}{$error.INPUT.date.value}{/if}" type="text" name="date" id="date" class="date"/></p>

<p><label for="gioitinh">Giới tính:</label>
<select class="gioitinh"  name="user_gioitinh" id="user_gioitinh">
<option value="0">Chọn giới tính</option>
<option value="1"{if isset($error.INPUT) && $error.INPUT.user_gioitinh.value eq 1}selected="selected"{/if}>Nam</option>
<option value="2"{if isset($error.INPUT) && $error.INPUT.user_gioitinh.value eq 2}selected="selected"{/if}>Nữ</option>
</select></p>

<!-- <p><label for="dantoc">Dân tộc:</label>
<select class="dantoc" name="dantoc" id="dantoc">
<option value="0"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 0}selected="selected"{/if}>Chọn Dân tộc</option>
<option value="1"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 1}selected="selected"{/if}>Kinh</option>
<option value="2"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 2}selected="selected"{/if}>Hoa</option>
<option value="3"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 3}selected="selected"{/if}>Khmer</option>
<option value="4"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 4}selected="selected"{/if}>Chăm</option>
<option value="5"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 5}selected="selected"{/if}>Tày</option>
<option value="6"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 6}selected="selected"{/if}>Nùng</option>
<option value="7"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 7}selected="selected"{/if}>Thái</option>
<option value="8"{if isset($error.INPUT) && $error.INPUT.dantoc.value eq 8}selected="selected"{/if}>Khác</option>
</select></p>
<p><label for="tongiao">Tôn giáo:</label>
<select class="tongiao" name="tongiao" id="tongiao">
<option value="0"{if isset($error.INPUT) && $error.INPUT.tongiao.value eq 0}selected="selected"{/if}>Chọn Tôn giáo</option>
<option value="1"{if isset($error.INPUT) && $error.INPUT.tongiao.value eq 1}selected="selected"{/if}>Phật</option>
<option value="2"{if isset($error.INPUT) && $error.INPUT.tongiao.value eq 2}selected="selected"{/if}>Thiên Chúa</option>
<option value="3"{if isset($error.INPUT) && $error.INPUT.tongiao.value eq 3}selected="selected"{/if}>Tin Lành</option>
<option value="4"{if isset($error.INPUT) && $error.INPUT.tongiao.value eq 4}selected="selected"{/if}>Khác</option>
<option value="5"{if isset($error.INPUT) && $error.INPUT.tongiao.value eq 5}selected="selected"{/if}>Không</option>
</select></p>

<p><label for="weight">Cân nặng:</label>
<input class="medium" type="text" value="{if isset($error.INPUT)}{$error.INPUT.weight.value}{/if}" name="weight" id="weight" /></p>

<p><label for="height">Chiều cao:</label>
<input class="medium" type="text" value="{if isset($error.INPUT)}{$error.INPUT.height.value}{/if}" name="height" id="height" /></p>

<p><label for="avatar"> Hình ảnh: </label><input type="file"  name="avatar" id="avatar" /></p>

<p><label for="telephone">{$locale->msg('telephone')}:</label>
<input class="small" type="text" value="{if isset($error.INPUT)}{$error.INPUT.telephone.value}{/if}" name="telephone" id="telephone" /></p> -->

<!-- <p><label for="email">{$locale->msg('email')}:</label>
<input class="medium" type="text" value="{if isset($error.INPUT)}{$error.INPUT.email.value}{/if}" name="email" id="email" /></p> -->

<!-- <p><label for="cmnd">CMND:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.CMND.value}{/if}" name="CMND" id="CMND" /></p>

<p><label for="nguyenquan">Ngày cấp:</label>
<input placeholder="chọn ngày" value="{if isset($error.INPUT)}{$error.INPUT.datecap.value}{/if}" style="width: 85px; text-align: center;" type="text" name="datecap" id="datecap" class="datecap"/></p>

<p><label for="noicap">Nơi cấp:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.noicap.value}{/if}" name="noicap" id="noicap" /></p>

<p><label for="addresstt">{$locale->msg('address')}:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.addresstt.value}{/if}" name="addresstt" id="addresstt" /></p>
<p>
<label for="txtProvine">Tỉnh/Thành:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.province.value}{/if}" name="province" id="province"/> -->
<!--
<select id="province" name="province" onchange="ajaxprovince('#province','#national')">
<option value="{if isset($error.INPUT)}{$error.INPUT.province.value}{/if}" selected>Chọn Tỉnh/Thành </option>
{$combotinh1}
</select>
-->
<!-- </p>
<p><label for="national" >Quận/Huyện:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.national.value}{/if}" name="national" id="national"/> -->
<!--
<select  name="national">
<option value="{if isset($error.INPUT)}{$error.INPUT.national.value}{/if}" selected>Chọn quận huyện </option>
 </select>                   
-->
</p>

<!-- <p style="display: flex;"><label for="nguyenquan">Địa chỉ liên hệ:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.addresslh.value}{/if}" name="addresslh" id="addresslh"/>
 <span class="same"><label><input id="samett" type="checkbox">Giống địa chỉ thường trú</label></span>
 </p>
<p>
<label for="txtProvine1">Tỉnh/Thành:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.province1.value}{/if}" name="province1" id="province1"/> -->
<!--
<select id="province1" name="province1" onchange="ajaxprovince('#province1','#national1')">
<option value="" selected>Chọn Tỉnh/Thành </option>
{$combotinh1}
</select>
-->
<!-- </p>
<p><label for="national1">Quận/Huyện:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.national1.value}{/if}" name="national1" id="national1"/> -->
<!--
<select id="national1" name="national1">
<option value="" selected>Chọn quận huyện </option>
{$comboquan1}
 </select>                   
-->
<!-- </p>

<p class="tag"><label for="doanvien">Đoàn viên:</label>
<label class="co"><input type="radio" name="doanvien" value="1">Có</label>
<label class="co"><input type="radio" name="doanvien" value="2" checked="checked">Không</label>

<p class="tag"><label for="dangvien">Đảng viên:</label>
<label class="co"><input type="radio" name="dangvien" value="1">Có</label>
<label class="co"><input type="radio" name="dangvien" value="2" checked="checked">Không</label> -->

<!--
<p><label for="listbrother">Danh sách anh chị em:</label>
<textarea rows="10" cols="20" value="{if isset($error.INPUT)}{$error.INPUT.listbrother.value}{/if}" name="listbrother" id="listbrother">{if isset($error.INPUT)}{$error.INPUT.listbrother.value}{/if}</textarea></p>
-->

<!-- <p><label for="contact_person">Người liên hệ khi cần:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.contact_person.value}{/if}" name="contact_person" id="contact_person" /></p>

<p><label for="contact_relationship">Quan hệ:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.contact_relationship.value}{/if}" name="contact_relationship" id="contact_relationship" /></p>

<p><label for="contact_phone">Số điện thoại:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.contact_phone.value}{/if}" name="contact_phone" id="contact_phone" /></p>

<p><label for="honnhan">Tình trạng hôn nhân:</label>
<select class="honnhan"  name="honnhan" id="honnhan">
<option value="0">Chọn Tình trạng hôn nhân</option>
<option value="1"{if isset($error.INPUT) && $error.INPUT.honnhan.value eq 1}selected="selected"{/if}>Chưa kết hôn</option>
<option value="2"{if isset($error.INPUT) && $error.INPUT.honnhan.value eq 2}selected="selected"{/if}>Đã kết hôn</option>
<option value="3"{if isset($error.INPUT) && $error.INPUT.honnhan.value eq 3}selected="selected"{/if}>Đã ly hôn</option>
<option value="4"{if isset($error.INPUT) && $error.INPUT.honnhan.value eq 4}selected="selected"{/if}>Ly thân</option>
</select></p>

<p class="tag_vochong"><label for="vochong">Họ tên vợ/chồng:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.vochong.value}{/if}" name="vochong" id="vochong"/></p>

<p><label for="vanhoa">Trình độ văn hóa:</label>
<select class="vanhoa"  name="vanhoa" id="vanhoa">
<option value="0"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 0}selected="selected"{/if}>Chọn Trình độ văn hóa</option>
<option value="1"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 1}selected="selected"{/if}>9/12</option>
<option value="2"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 2}selected="selected"{/if}>12/12</option>
<option value="3"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 3}selected="selected"{/if}>Trung cấp</option>
<option value="4"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 4}selected="selected"{/if}>Cao đẳng</option>
<option value="5"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 5}selected="selected"{/if}>Đại học</option>
<option value="6"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 6}selected="selected"{/if}>Sau đại học</option>
<option value="7"{if isset($error.INPUT) && $error.INPUT.vanhoa.value eq 7}selected="selected"{/if}>Khác</option>
</select></p>

<p class="tag_tdvh tag d-none"><label for="tdkhac">Trình độ khác:</label>
	<label class="co tag"><input type="radio" name="tdkhac" value="1">1/12</label> 
	<label class="co tag"><input type="radio" name="tdkhac" value="2">2/12</label>
	<label class="co tag"><input type="radio" name="tdkhac" value="3">3/12</label> 
	<label class="co tag"><input type="radio" name="tdkhac" value="4">4/12</label>
	<label class="co tag"><input type="radio" name="tdkhac" value="5">5/12</label> 
	<label class="co tag"><input type="radio" name="tdkhac" value="6">6/12</label>
	<label class="co tag"><input type="radio" name="tdkhac" value="7">7/12</label> 
	<label class="co tag"><input type="radio" name="tdkhac" value="8">8/12</label>
	<label class="co tag"><input type="radio" name="tdkhac" value="10">10/12</label>
	<label class="co tag"><input type="radio" name="tdkhac" value="11">11/12</label>
</p>

<p class="tag"><label for="bangcap">Bằng cấp:</label>
<label class="co"><input type="checkbox" name="cap1" value="Cấp 1"{if isset($error.INPUT) && $error.INPUT.cap1.value eq "Cấp 1"}checked="checked"{/if}>Cấp 1</label>
<label class="co"><input type="checkbox" name="cap2" value="Cấp 2"{if isset($error.INPUT) && $error.INPUT.cap2.value eq  "Cấp 2"}checked="checked"{/if}>Cấp 2</label>
<label class="co"><input type="checkbox" name="cap3" value="Cấp 3"{if isset($error.INPUT) && $error.INPUT.cap3.value eq  "Cấp 3"}checked="checked"{/if}>Cấp 3</label>
<label class="co"><input type="checkbox" name="trungcap" value="Trung cấp"{if isset($error.INPUT) && $error.INPUT.trungcap.value eq  "Trung cấp"}checked="checked"{/if}>Trung cấp</label>
<label class="co"><input type="checkbox" name="caodang" value="Cao đẳng"{if isset($error.INPUT) && $error.INPUT.caodang.value eq "Cao đẳng"}checked="checked"{/if}>Cao đẳng</label>
<label class="co"><input type="checkbox" name="daihoc" value="Đại học"{if isset($error.INPUT) && $error.INPUT.daihoc.value eq "Đại học"}checked="checked"{/if}>Đại học</label>
<label class="co"><input type="checkbox" name="saudaihoc" value="Sau đại học"{if isset($error.INPUT) && $error.INPUT.saudaihoc.value eq "Sau đại học"}checked="checked"{/if}>Sau đại học</label>
<label class="co"><input type="checkbox" name="bckhac" value="Bằng cấp khác"{if isset($error.INPUT) && $error.INPUT.bckhac.value eq "Bằng cấp khác"}checked="checked"{/if}>Bằng cấp khác</label>
</p>

<p class="tag"><label for="chungchi">Chứng chỉ:</label>
<label class="co"><input type="checkbox" name="CCNV" value="CCNV"{if isset($error.INPUT) && $error.INPUT.CCNV.value eq "CCNV"}checked="checked"{/if}>CCNV</label>
<label class="co"><input type="checkbox" name="PCCC" value="PCCC"{if isset($error.INPUT) && $error.INPUT.PCCC.value eq  "PCCC"}checked="checked"{/if}>PCCC</label>
</p>

<p class="tag"><label for="ngoaingu">Ngoại ngữ:</label>
<label class="co"><input type="checkbox" name="anh" value="Anh"{if isset($error.INPUT) && $error.INPUT.anh.value eq "Anh"}checked="checked"{/if}>Anh</label>
<label class="co"><input type="checkbox" name="phap" value="Pháp"{if isset($error.INPUT) && $error.INPUT.phap.value eq  "Pháp"}checked="checked"{/if}>Pháp</label>
<label class="co"><input type="checkbox" name="duc" value="Đức"{if isset($error.INPUT) && $error.INPUT.duc.value eq  "Đức"}checked="checked"{/if}>Đức</label>
<label class="co"><input type="checkbox" name="hoa" value="Hoa"{if isset($error.INPUT) && $error.INPUT.hoa.value eq  "Hoa"}checked="checked"{/if}>Hoa</label>
<label class="co"><input type="checkbox" name="nhat" value="Nhật"{if isset($error.INPUT) && $error.INPUT.nhat.value eq "Nhật"}checked="checked"{/if}>Nhật</label>
<label class="co"><input type="checkbox" name="han" value="Hàn"{if isset($error.INPUT) && $error.INPUT.han.value eq "Hàn"}checked="checked"{/if}>Hàn</label>
<label class="co"><input type="checkbox" name="nga" value="Nga"{if isset($error.INPUT) && $error.INPUT.nga.value eq "Nga"}checked="checked"{/if}>Nga</label>
</p>

<p><label for="title">Ngày vào làm: </label>
<input placeholder="chọn ngày" value="{if isset($error.INPUT)}{$error.INPUT.date_join.value}{/if}" style="width: 85px; text-align: center;" type="text" name="date_join" id="date_join" class="date"/></p>

<p><label for="title">Ngày nghỉ việc: </label>
<input placeholder="chọn ngày" value="{if isset($error.INPUT)}{$error.INPUT.date_leave.value}{/if}" style="width: 85px; text-align: center;" type="text" name="date_leave" id="date_leave" class="date"/></p> -->

<p><label for="user_group">{$locale->msg('user_group')}:</label>
<select class="small"  name="user_group" id="user_group">
<option value="1"{if isset($error.INPUT) && $error.INPUT.user_group.value eq 1}selected="selected"{/if}>{$locale->msg('employment')}</option>
<option value="2"{if isset($error.INPUT) && $error.INPUT.user_group.value eq 2}selected="selected"{/if}>{$locale->msg('managerment')}</option>
{if $authUser->isSiteFounder()|| $authUser->getType() == 7}<option value="7"{if isset($error.INPUT) && $error.INPUT.user_group.value eq 7}selected="selected"{/if}>{$locale->msg('superadmin')}</option>{/if}
<option value="5"{if isset($error.INPUT) && $error.INPUT.user_group.value eq 5}selected="selected"{/if}>{$locale->msg('member')}</option>
<option value="6"{if isset($error.INPUT) && $error.INPUT.user_group.value eq 6}selected="selected"{/if}>{$locale->msg('khach')}</option>
{if $authUser->isSiteFounder()}<option value="3"{if isset($error.INPUT) && $error.INPUT.user_group.value eq 3}selected="selected"{/if}>{$locale->msg('founder')}</option>{/if}
</select></p>
<!-- <p><label for="muctieu">Mục tiêu:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.muctieu.value}{/if}" name="muctieu" id="muctieu" class="medium" autocomplete="false" /><i>*Search ít nhất 3 kí tự</i></p>
<input type="hidden" value="{if isset($error.INPUT)}{$error.INPUT.id_target.value}{/if}" name="id_target" id="id_target" class="medium"/>
<div id="result-mt"></div>

<p><label for="kinhnghiem">Kinh nghiệm:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.kinhnghiem.value}{/if}" name="kinhnghiem" id="kinhnghiem" /></p>

<p><label for="gioithieu">Người giới thiệu:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.gioithieu.value}{/if}" name="gioithieu" id="gioithieu" class="medium" autocomplete="false" /><i>*Search ít nhất 3 kí tự</i></p>
<input type="hidden" value="{if isset($error.INPUT)}{$error.INPUT.id_angt.value}{/if}" name="id_angt" id="id_angt" class="medium"/>
<div id="result-box"></div>

<p><label for="STK">Số tài khoản:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.STK.value}{/if}" name="STK" id="STK" /></p> -->

<!--
<p><label for="chutk">Chủ tài khoản:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.chutk.value}{/if}" name="chutk" id="chutk" /></p>
-->

<!-- <p><label for="name_nh">Tên ngân hàng:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.name_nh.value}{/if}" name="name_nh" id="name_nh" /></p> -->

<!--
<p><label for="chinhanh">Tên chi nhánh:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.chinhanh.value}{/if}" name="chinhanh" id="chinhanh" /></p>
-->

<!-- <p class="tag"><label for="hoso">Thông tin hồ sơ:</label>
<label class="co"><input type="checkbox" name="syll" value="Sơ yếu lý lịch"{if isset($error.INPUT) && $error.INPUT.syll.value eq "Sơ yếu lý lịch"}checked="checked"{/if}>Sơ yếu lý lịch</label>
<label class="co"><input type="checkbox" name="gksk" value="Giấy khám sức khỏe"{if isset($error.INPUT) && $error.INPUT.gksk.value eq  "Giấy khám sức khỏe"}checked="checked"{/if}>Giấy khám sức khỏe</label>
<label class="co"><input type="checkbox" name="dxv" value="Đơn xin việc"{if isset($error.INPUT) && $error.INPUT.dxv.value eq  "Đơn xin việc"}checked="checked"{/if}>Đơn xin việc</label>
<label class="co"><input type="checkbox" name="hk" value="Hộ khẩu"{if isset($error.INPUT) && $error.INPUT.hk.value eq  "Hộ khẩu"}checked="checked"{/if}>Hộ khẩu</label>
<label class="co"><input type="checkbox" name="bc" value="Bằng cấp"{if isset($error.INPUT) && $error.INPUT.bc.value eq "Bằng cấp"}checked="checked"{/if}>Bằng cấp</label>
<label class="co"><input type="checkbox" name="xnhk" value="Xác nhận hạnh kiểm"{if isset($error.INPUT) && $error.INPUT.xnhk.value eq "Xác nhận hạnh kiểm"}checked="checked"{/if}>Xác nhận hạnh kiểm</label>
<label class="co"><input type="checkbox" name="chungminh" value="CMND"{if isset($error.INPUT) && $error.INPUT.chungminh.value eq "CMND"}checked="checked"{/if}>CMND</label>
<label class="co"><input type="checkbox" name="knbv" value="Kinh nghiệm bảo vệ"{if isset($error.INPUT) && $error.INPUT.knbv.value eq "Kinh nghiệm bảo vệ"}checked="checked"{/if}>Kinh nghiệm bảo vệ</label>
</p>

<p class="tag"><label for="quannhan">Cựu quân nhân:</label>
<label class="co"><input type="radio" name="quannhan" value="1">Có</label>
<label class="co"><input type="radio" name="quannhan" value="2" checked="checked">Không</label>

<p class="tag"><label for="baohiem">Bảo hiểm:</label>
<label class="co"><input type="radio" name="baohiem" value="1">Có</label>
<label class="co"><input type="radio" name="baohiem" value="2" checked="checked">Không</label>
<div class="tag_BH">
	<p>
	<label for="BHYT">Mức chi trả BHYT (%):</label>
	<input value="{$BHYT}" type="text" name="BHYT" id="BHYT" />
  </p>
  <p>	
	<label for="BHXH">Mức chi trả BHXH (%):</label>
	<input value="{$BHXH}" type="text" name="BHXH" id="BHXH" />
  </p>
  <p>
	<label for="BHTN">Mức chi trả BHTN (%):</label>
	<input value="{$BHTN}" type="text" name="BHTN" id="BHTN" />
  </p>
</div>

<p class="tag"><label for="baohiem">Lương tính bảo hiểm:</label>
<label class="co cc_ltt"><input type="radio" name="luong_baohiem" value="1" checked="checked">Lương thực tế</label>
<label class="co cc_lcd"><input type="radio" name="luong_baohiem" value="2">Lương cố định</label>
<div class="tag_LCD">
	<p class="lcd">
	<label for="lcd">Lương cố định:</label>
	<input type="text"  value="{if isset($error.INPUT)}{$error.INPUT.luongcd.value}{/if}" name="luongcd" id="luongcd"/>
	<p>
</div>

<p class="tag"><label for="TNCN">Thuế thu nhập cá nhân:</label>
<label class="co"><input type="radio" name="TNCN" value="1">Có</label>
<label class="co"><input type="radio" name="TNCN" value="2" checked="checked">Không</label>

<p class="tag"><label for="thueTNCN">Lương tính thuế thu nhập cá nhân:</label>
<label class="co cc_thuett"><input type="radio" name="thueTNCN" value="1" checked="checked">Lương thực tế</label>
<label class="co cc_thuecd"><input type="radio" name="thueTNCN" value="2">Lương cố định</label>
<div class="tag_TLCD">
	<p class="lcd">
	<label for="lcd">Lương cố định:</label>
	<input value="{$smarty.const.S_SALARY}" type="text" name="luongthuecd" id="luongthuecd" />
	<p>
	<p class="tag"><label for="thueTNCN">Người đóng thuế:</label>
	<label class="co tag"><input type="radio" name="nguoidongthue" value="1">Doanh nghiệp</label>
	<label class="co tag"><input type="radio" name="nguoidongthue" value="2" checked="checked">Người lao động</label>
  </p>
</div>

<p><label for="tomtat">Tóm tắt bản thân:</label>
<textarea rows="50" cols="50" value="{if isset($error.INPUT)}{$error.INPUT.tomtat.value}{/if}" name="tomtat" id="tomtat">{if isset($error.INPUT)}{$error.INPUT.tomtat.value}{/if}</textarea></p>

<p><label for="thigiac">Thị giác:</label>
<input type="text" value="{if isset($error.INPUT)}{$error.INPUT.thigiac.value}{/if}" name="thigiac" id="thigiac" /></p>

<p><label for="lamviec">Lịch sử làm việc:</label>
<textarea rows="10" cols="20" value="{if isset($error.INPUT)}{$error.INPUT.lamviec.value}{/if}" name="lamviec" id="lamviec">{if isset($error.INPUT)}{$error.INPUT.lamviec.value}{/if}</textarea></p>

<p><label for="tiensu">Tiền sử bệnh tật:</label>
<textarea rows="10" cols="20" value="{if isset($error.INPUT)}{$error.INPUT.tiensu.value}{/if}" name="tiensu" id="tiensu">{if isset($error.INPUT)}{$error.INPUT.tiensu.value}{/if}</textarea></p>

<p><label for="files">Hình ảnh đính kèm:</label><input type="file" multiple name="files[]" id="files[]" /></p> -->
<!-- Button -->

<p class="btn">
<input type="hidden" name="order[view]" value="1" id="order[view]" />
<input type="hidden" name="order[add]" value="1" id="order[add]" />
<input type="hidden" name="order[edit]" value="1" id="order[edit]" />
<input type="hidden" name="order[delete]" value="1" id="order[delete]" />
<input type="hidden" name="order[clean]" value="1" id="order[clean]" />

<input type="hidden" name="customer[view]" value="1" id="customer[view]" />
<input type="hidden" name="customer[add]" value="1" id="customer[add]" />
<input type="hidden" name="customer[edit]" value="1" id="customer[edit]" />
<input type="hidden" name="customer[delete]" value="1" id="customer[delete]" />
<input type="hidden" name="customer[clean]" value="1" id="customer[clean]" />

<input type="hidden" name="groups[view]" value="1" id="groups[view]" />
<input type="hidden" name="groups[add]" value="1" id="groups[add]" />
<input type="hidden" name="groups[edit]" value="1" id="groups[edit]" />
<input type="hidden" name="groups[delete]" value="1" id="groups[delete]" />
<input type="hidden" name="groups[clean]" value="1" id="groups[clean]" />

<input type="hidden" name="op" value="manage" />
<input type="hidden" name="act" value="staff" />
<input type="hidden" name="mod" value="add" />
<input type="hidden" name="doo" value="submit" />
<input type="hidden" name="sCode" value="{$sCode}_" />
<input type="hidden" name="lang" value="{$lang}" />
<input type="submit" value="{$locale->msg('button_submit')}" title="{$locale->msg('button_submit')}" name="btnSubmit" />
<input type="reset" value="{$locale->msg('button_reset')}" title="{$locale->msg('button_reset')}" name="btnReset" />
<input type="button" onclick="javascript:formSubmit('formAdd','list','cancel',0);" value="{$locale->msg('button_cancel')}" title="{$locale->msg('button_cancel')}" name="btnCancel" />
</p>
</fieldset>
</form>
</div>
</div>