<div class="tableContent">
{if $result_code}<div class="message">{$amessages.result_code.$result_code}</div>{/if}
{if $error_code}<div class="message2">{$amessages.error_code.$error_code}</div>{/if}
<div class="contType"><h2>{$locale->msg('notes')}:</h2>{$locale->msg('config_general_notes')}</div>
{if $error}{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<div class="errorBox">
<h2>{$locale->msg('error_notes')}:</h2>
<ul class="listStyle">{foreach from=$input item=field}{if $field.error}<li>{$field.message}</li>{/if}{/foreach}<li>{$error.message}</li></ul>
</div>
{/if}{/if}
{if $success}
<div class="infoBox">
<h2>{$success}</h2>
</div>
{/if}
<div class="formContent">
<h1>{$locale->msg('system_config_general')}</h1>
{if $item}
<!-- Load estore info -->
<form action="/{$aScript}" method="post" name="formEdit" id="formEdit">
<fieldset>
<p><strong>* {$locale->msg('required_fields')}</strong></p>
<p><label for="private_domain">{$locale->msg('domain')}:</label><strong>{$item->getDomain()}</strong></p>
<!--<p><label for="private_domain">*{$locale->msg('price_room')}:</label>
<input type="text" name="price_room" value="{$item->getProperty('price_room')}"  class="small"/> VNĐ</p>-->
<p><label for="template_domain">{$locale->msg('web_interface')}:</label>
<select class="medium" name="domain_template_id" id="domain_template_id">
{$domainTemplates}
</select></p>
<p><label for="site_name">* {$locale->msg('site_name')}:</label>
<input class="medium" type="type" value="{$item->getName()}" name="site_name" id="site_name" /></p>
<p><label for="email">* {$locale->msg('site_keywords')}:</label>
<input type="type" value="{$item->getKeywords()}" name="keywords" id="keywords" /></p>
<p><label for="site_description">* {$locale->msg('site_description')}:</label>
<textarea rows="10" cols="20" name="site_description" id="site_description">{$item->getDescription()}</textarea></p>
<!-- <p><label for="currency">* {$locale->msg('currency')}:</label>
<input class="small" type="type" value="{$item->getCurrency()}" name="currency" id="currency" />({$locale->msg('currency_type')})</p>
<p><label for="max_advance_payment">* {$locale->msg('max_advance_payment')}:</label>
<input class="small" type="type" value="{$item->getProperty('max_advance_payment')}" name="max_advance_payment" id="max_advance_payment" /></p>
<p><label for="tien_congdoan">* Tiền công đoàn:</label>
<input class="small" type="type" value="{$item->getProperty('tien_congdoan')}" name="tien_congdoan" id="tien_congdoan" /></p> -->
<p><label for="company">{$locale->msg('name_company')}:</label></p>


	<textarea rows="10" cols="20" name="company" id="company" class="detailtext" contenteditable="true">{$item->getCompany()}</textarea>
{literal}<script type="text/javascript">var editor = CKEDITOR.replace('company');</script>{/literal}









<p><label for="address">{$locale->msg('address')}:</label></p>
<textarea rows="10" cols="20" name="address" id="address" class="detailtext" contenteditable="true">{$item->getAddress()}</textarea>
{literal}<script type="text/javascript">var editor = CKEDITOR.replace('address');</script>{/literal}

<p><label for="address_en">{$locale->msg('address_en')}:</label></p>
<textarea rows="10" cols="20" name="address_en" id="address_en" class="detailtext" contenteditable="true">{$item->getProperty(address_en)}</textarea>
{literal}<script type="text/javascript">var editor = CKEDITOR.replace('address_en');</script>{/literal}



<p><label for="email">{$locale->msg('email_add')}:</label>
<input class="medium" type="type" value="{$item->getEmail()}" name="email" id="email" /></p>

<p><label for="tel">{$locale->msg('telephone')}:</label>
<input class="small" type="type" value="{$item->getTel()}" name="tel" id="tel" /></p>
<!-- <p><label for="cell">Fax:</label>
<input class="small" type="type" value="{$item->getCell()}" name="cell" id="cell" /></p> -->

<!-- <p><label for="headerhtml">Additional HTML header:</label>
<textarea rows="10" cols="20" name="headerhtml" id="headerhtml">{$item->getProperty('headerhtml')}</textarea></p>
<p><label for="footerhtml">Additional HTML footer:</label>
<textarea rows="10" cols="20" name="footerhtml" id="footerhtml">{$item->getProperty('footerhtml')}</textarea></p> -->

<!-- <p><label for="duplicate">{$locale->msg('check_name_product')}:</label>
<input type="checkbox" name="check_duplicate_product_name" value="1" id="check_duplicate_product_name" class="box"{if $item->getProperty('check_duplicate_product_name')} checked{/if} />
<label for="check_duplicate_product_name" class="lbl">{$locale->msg('enable')}</label></p> -->
<!-- <p class="tag">
	<label for="color">Màu sắc:</label>
	{if $colorItem}
	{foreach from=$colorItem item=color}
		<label for="color_theme" class="lbl color_input" class="co" style="color:{$color->getPrimaryColorFromId($color->getId())};">
			<input  type="radio"
					name="color_theme"
					value="{$color->getId()}" 
					onClick="changeColor('{$color->getPrimaryColorFromId($color->getId())}','{$color->getPrimaryColorOpacityFromId($color->getId())}')" 
					{if $color->getId() eq $item->getProperty('color_theme')}checked{/if}/>{$color->getName()}
		</label>
		

		{$color->getPrimaryColorFromId($color->getId())}
		{$color->getPrimaryColorOpacityFromId($color->getId())}

	

		{if $color->getId() eq $item->getProperty('color_theme')}
		{assign var=primaryColor value=$color->getPrimaryColorFromId($color->getId())}
		{assign var=primaryColorOpa value=$color->getPrimaryColorOpacityFromId($color->getId())}
		{/if}

	{/foreach}
	{/if}

	<label for="color_theme" class="lbl" class="co">
		<input type="radio" name="color_theme" value="1" checked/>Màu xanh
	</label>
	<label for="color_theme" class="lbl" class="co">
		<input type="radio" name="color_theme" value="2"/>Màu đỏ
	</label>

</p>
 -->
<div class="boxTyle">
<label for="admin_logo">{$locale->msg('admin_logo')}:</label>
<input class="selectPhoto" type="type" value="{$item->getProperty('admin_logo')}" name="admin_logo" id="admin_logo" />
<div class="helpIcon"><a href="#" class="btnHelp"><i class="fa fa-question" aria-hidden="true"></i></a>
<div class="alertPopup">
<h4>{$locale->msg('admin_logo')}</h4>
<p>{$locale->msg('admin_logo_hint')}</p>
</div>
</div>
</div>
<div class="boxTyle">
<label for="store_logo">{$locale->msg('store_logo')}:</label>
<input class="selectPhoto" type="type" value="{$item->getProperty('store_logo')}" name="store_logo" id="store_logo" />
<div class="helpIcon"><a href="#" class="btnHelp"><i class="fa fa-question" aria-hidden="true"></i></a>
<div class="alertPopup">
<h4>{$locale->msg('store_logo')}</h4>
<p>{$locale->msg('store_logo_hint')}</p>
</div>
</div>
</div>
<div class="boxTyle">
	<label for="logo_footer">Hình ảnh logo ở cuối trang ( footer )</label>
	<input class="selectPhoto" type="type" value="{$item->getProperty('logo_footer')}" name="logo_footer" id="logo_footer" />
</div>
<div class="boxTyle">
	<label for="background_menuright">Background MenuRight</label>
	<input class="selectPhoto" type="type" value="{$item->getProperty('background_menuright')}" name="background_menuright" id="background_menuright" />
</div>
<!--Hình ảnh của trang chủ -->
<!-- <div class="boxTyle">
<label for="img_index">Hình ảnh background trang chủ:</label>
<input class="selectPhoto" type="type" value="{$item->getProperty('img_index')}" name="img_index" id="img_index" />
</div> -->




<!--Hình ảnh quy trình sản xuất -->
<!-- <div class="boxTyle">
	<label for="img_index">Hình ảnh quy trình sản xuất:</label>
	<input class="selectPhoto" type="type" value="{$item->getProperty('img_quytrinhsanxuat')}" name="img_quytrinhsanxuat" id="img_quytrinhsanxuat" />
	</div> -->



<!--Hình ảnh quy trình sản xuất english -->
<!-- <div class="boxTyle">
	<label for="img_index">Hình ảnh quy trình sản xuất English:</label>
	<input class="selectPhoto" type="type" value="{$item->getProperty('img_en_quytrinhsanxuat')}" name="img_en_quytrinhsanxuat" id="img_en_quytrinhsanxuat" />
	</div> -->





<!--Hình ảnh quản lý chất lượng sản phẩm -->
<!-- <div class="boxTyle">
	<label for="img_index">Hình ảnh quản lý chất lượng sản phẩm:</label>
	<input class="selectPhoto" type="type" value="{$item->getProperty('img_quanlychatluongsanpham')}" name="img_quanlychatluongsanpham" id="img_quanlychatluongsanpham" />
	</div> -->

<!-- 

<div class="boxTyle">
		<label for="img_index">Bài Viết Nổi Bật:</label>
		<select id="baivietnoibat">
		

		</select>
</div> -->

<!-- <p><label for="ggmap">Văn phòng</label></p>
<textarea rows="10" cols="20" name="ggmap" id="ggmap" class="detailtext" contenteditable="true">{$item->getProperty('ggmap')}</textarea>
{literal}<script type="text/javascript">var editor = CKEDITOR.replace('ggmap');</script>{/literal}

<p><label for="aboutus">Nơi sản xuất</label></p>
<textarea rows="10" cols="20" name="aboutus" id="aboutus" class="detailtext" contenteditable="true">{$item->getProperty('aboutus')}</textarea>
{literal}<script type="text/javascript">var editor = CKEDITOR.replace('aboutus');</script>{/literal} -->

<!-- <p><label for="aboutusen">Giới thiệu Tiếng anh (Trang chủ):</label></p>
<textarea rows="10" cols="20" name="aboutusen" id="aboutusen" class="detailtext" contenteditable="true">{$item->getProperty('aboutusen')}</textarea>
{literal}<script type="text/javascript">var editor = CKEDITOR.replace('aboutusen');</script>{/literal} -->

{if $fieldList}
<br /><h2>{$locale->msg('list_custom_field')}</h2>
{foreach key=no from=$fieldList item=field}
{$field->displayHTML($item->getProperty($field->getName()))}
{/foreach}
{/if}
<p class="btn">
<input type="hidden" name="op" value="system" />
<input type="hidden" name="act" value="config" />
<input type="hidden" name="mod" value="general" />
<input type="hidden" name="doo" value="submit" />
<input type="hidden" name="sCode" value="{$sCode}_" />
<input type="hidden" name="lang" value="{$lang}" />
<input type="submit" value="{$locale->msg('button_submit')}" title="{$locale->msg('button_submit')}" name="btnSubmit" />
<input type="reset" value="{$locale->msg('button_reset')}" title="{$locale->msg('button_reset')}" name="btnReset" />
<input type="button" onclick="javascript:formSubmit('formEdit','general','cancel',0);" value="{$locale->msg('button_cancel')}" title="{$locale->msg('button_cancel')}" name="btnCancel" />
</p>
</fieldset>
</form>
{else}
<form action="/{$aScript}" method="post" name="formEdit" id="formEdit" >
<fieldset>
<p><strong>* {$locale->msg('required_fields')}</strong></p>
<p{if isset($error.INPUT) && $error.INPUT.price_room.error} class="errormsg"{/if}><label for="price_room">* {$locale->msg('price_room')}:</label>
<input class="small" type="type" value="{if isset($error.INPUT)}{$error.INPUT.price_room.value}{/if}" name="price_room" id="site_name" /> VNĐ</p>
<p{if isset($error.INPUT) && $error.INPUT.private_domain.error} class="errormsg"{/if}><label for="private_domain">* {$locale->msg('domain')}:</label><strong>{$estore->getDomain()}</strong></p>
<p><label for="template_domain">{$locale->msg('web_interface')}:</label>
<select name="template_domain" id="template_domain">
{$domainTemplates}
</select></p>
<p{if isset($error.INPUT) && $error.INPUT.site_name.error} class="errormsg"{/if}><label for="site_name">* {$locale->msg('site_name')}:</label>
<input class="medium" type="type" value="{if isset($error.INPUT)}{$error.INPUT.site_name.value}{/if}" name="site_name" id="site_name" /></p>
<p{if isset($error.INPUT) && $error.INPUT.keywords.error} class="errormsg"{/if}><label for="keywords">* {$locale->msg('site_keywords')}:</label>
<input type="type" value="{if isset($error.INPUT)}{$error.INPUT.keywords.value}{/if}" name="keywords" id="keywords" /></p>
<p{if isset($error.INPUT) && $error.INPUT.site_description.error} class="errormsg"{/if}><label for="site_description">* {$locale->msg('site_description')}:</label>
<textarea rows="10" cols="20" name="site_description" id="site_description">{if isset($error.INPUT)}{$error.INPUT.site_description.value}{/if}</textarea></p>
<!-- <p{if isset($error.INPUT) && $error.INPUT.currency.error} class="errormsg"{/if}><label for="currency">* {$locale->msg('currency')}:</label>
<input class="small" type="type" value="{if isset($error.INPUT)}{$error.INPUT.currency.value}{/if}" name="currency" id="currency" />({$locale->msg('currency_type')})</p> -->
<p{if isset($error.INPUT) && $error.INPUT.company.error} class="errormsg"{/if}><label for="company">{$locale->msg('name_company')}:</label>
<input type="type" value="{if isset($error.INPUT)}{$error.INPUT.company.value}{/if}" name="company" id="company" /></p>
<p{if isset($error.INPUT) && $error.INPUT.address.error} class="errormsg"{/if}><label for="address">{$locale->msg('address')}:</label>
<input class="long" type="type" value="{if isset($error.INPUT)}{$error.INPUT.address.value}{/if}" name="address" id="address" /></p>
<p{if isset($error.INPUT) && $error.INPUT.email.error} class="errormsg"{/if}><label for="email">{$locale->msg('email_add')}:</label>
<input class="medium" type="type" value="{if isset($error.INPUT)}{$error.INPUT.email.value}{/if}" name="email" id="email" /></p>
<p{if isset($error.INPUT) && $error.INPUT.tel.error} class="errormsg"{/if}><label for="tel">{$locale->msg('telephone')}:</label>
<input class="small" type="type" value="{if isset($error.INPUT)}{$error.INPUT.tel.value}{/if}" name="tel" id="tel" /></p>
<p{if isset($error.INPUT) && $error.INPUT.cell.error} class="errormsg"{/if}><label for="cell">{$locale->msg('cell')}:</label>
<input class="small" type="type" value="{if isset($error.INPUT)}{$error.INPUT.cell.value}{/if}" name="cell" id="cell" /></p>
<p><label for="check_duplicate_product_name">{$locale->msg('check_name_product')}:</label>
<input type="checkbox" name="check_duplicate_product_name" value="1" id="check_duplicate_product_name" class="box"{if isset($error.INPUT)} checked{/if} />
<label for="check_duplicate_product_name" class="lbl">{$locale->msg('enable')}</label></p>
<p{if isset($error.INPUT) && $error.INPUT.admin_logo.error} class="errormsg"{/if}><label for="admin_logo">{$locale->msg('admin_logo')}:</label>
<input class="selectPhoto" type="type" value="{if isset($error.INPUT)}{$error.INPUT.admin_logo.value}{/if}" name="admin_logo" id="admin_logo" /></p>
<p{if isset($error.INPUT) && $error.INPUT.store_logo.error} class="errormsg"{/if}><label for="store_logo">{$locale->msg('store_logo')}:</label>
<input class="selectPhoto" type="type" value="{if isset($error.INPUT)}{$error.INPUT.store_logo.value}{/if}" name="store_logo" id="store_logo" /></p>
<br />
{if $fieldList}
<br /><h2>{$locale->msg('list_custom_field')}</h2>
{foreach key=no from=$fieldList item=field}
{if isset($error.INPUT)}
{assign var=field_name value=$field->getName()}
{$field->displayHTML($error.INPUT.$field_name.value)}
{/if}
{/foreach}
{/if}
<p class="btn">
<input type="hidden" name="op" value="system" />
<input type="hidden" name="act" value="config" />
<input type="hidden" name="mod" value="general" />
<input type="hidden" name="doo" value="submit" />
<input type="hidden" name="sCode" value="{$sCode}_" />
<input type="hidden" name="lang" value="{$lang}" />
<input type="submit" value="{$locale->msg('button_submit')}" title="Submit" name="btnSubmit" />
<input type="reset" value="{$locale->msg('button_reset')}" title="Reset" name="btnReset" />
<input type="button" onclick="javascript:formSubmit('formEdit','general','cancel',0);" value="{$locale->msg('button_cancel')}" title="{$locale->msg('button_cancel')}" name="btnCancel" />
</p>
</fieldset>
</form>
{/if}
</div>
</div>

{literal}
<script>

// $( ".hide" ).hide();

if(  $('#custom_baiviet_noibat').val()==""){
	$('#custom_baiviet_noibat').val(0);
}
$('#baivietnoibat').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    $('#custom_baiviet_noibat').val(valueSelected);
});
loadbaiviet();
function loadbaiviet(){





let op = "baivietnoibat";

$.ajax({
    type:'post',
    url:'/ajax.php',
    dataType:"json",
    data:{op:op},
    success:function(data)
    {
      
	 
	  let tenbaiviet =data.tenbaiviet;
	  let idbaiviet  =data.idbaiviet;
	  htmlbaivietnoibat="<option value='0'>Bài Viết Mới Nhất</option>"
	  console.log(tenbaiviet.length);
	  for(let i=0;i<tenbaiviet.length;i++){
		   if(	$('#custom_baiviet_noibat').val()==idbaiviet[i])
				htmlbaivietnoibat+="<option value='"+idbaiviet[i]+"' selected>"+tenbaiviet[i]+"</option>";
			else
			htmlbaivietnoibat+="<option value='"+idbaiviet[i]+"'>"+tenbaiviet[i]+"</option>";


	  }
	$("#baivietnoibat").html(htmlbaivietnoibat);
    
    }
  });

}




</script>
{/literal}