// color
$primary-color: #00A6DF;
$secondary-color: #273C8B;
$black-color: #333333;
$white-color: #ffffff;
$red-color: #ED2D32;
$red-color--2: #AC1F2A;
$shadow-box: 0px 4px 4px 0px rgba(0,0,0,0.25);
// modal background
$bg-modal:rgba(0, 0, 0, 0.5);
