@font-face {
    font-family: 'mon-900';
    src: url('../font/Montserrat-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-bold';
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-medium';
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-regular';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-light';
    src: url('../font/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-thin';
    src: url('../font/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'robo-900';
    src: url('../font/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'robo-bold';
    src: url('../font/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'robo-medium';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'robo-regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'robo-light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'robo-thin';
    src: url('../font/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'ephe';
    src: url('../font/Ephesis-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'monda';
    src: url('../font/Monda-Regular.ttf') format('truetype');
}


